Repository charmverse/app.charmverse.io, pull requests merged in 2024-08, with the labels that each got.

#4350 Fixed proposal hidden step results
  lib/proposals/concealProposalSteps.ts
Labels: :rocket: deploy

#4366 test swjs in staging
  .github/actions/build/action.yml
  apps/connect/public/test.js
Labels: :rocket: deploy-connect

#4367 fix links to headings from table of contents
  components/common/CharmEditor/components/heading.ts
  components/common/CharmEditor/components/rowActions/RowActionsMenu.tsx
  components/common/CharmEditor/components/tableOfContents/TableOfContents.tsx
Labels: :rocket: deploy

#4369 Pagination for connect grants page
  @connect-shared/lib/grants/getGrants.ts
  apps/connect/apiClient/apiClient.ts
  apps/connect/app/api/grants/route.ts
  apps/connect/app/grants/loading.tsx
  apps/connect/app/grants/page.tsx
  apps/connect/components/grants/GrantsList.tsx
  apps/connect/components/grants/components/GrantCard.tsx
  apps/connect/components/grants/components/GrantsListPageSkeleton.tsx
Labels: :rocket: deploy-connect

#4388 use short length of github sha for docker imgtag
  .github/actions/build_docker_image/action.yml
  .github/workflows/deploy_staging.yml
  .github/workflows/destroy_staging.yml
  .github/workflows/test_and_deploy.yml
  .github/workflows/test_and_deploy_connect.yml
Labels: :rocket: deploy-sunnyawards

#4390 hide Roles and Invites for non-admins + cleanup
  __e2e__/po/settings/settings.po.ts
  components/_app/components/UserOnboardingDialog.tsx
  components/members/components/MemberProfile/components/ProfileWidgets/components/MemberPropertiesWidget/MemberPropertiesFormDialog.tsx
  components/settings/SettingsContent.tsx
  components/settings/SettingsDialog.tsx
  components/settings/account/AccountSettings.tsx
  components/settings/account/components/AccountPreferences.tsx
  components/settings/account/components/MultiSigList.tsx
  components/settings/account/components/TwoFactorAuthUser.tsx
  components/settings/api/ApiSettings.tsx
  components/settings/charms/CharmsSettings.tsx
  components/settings/components/Legend.tsx
  components/settings/components/SettingsContent.tsx
  components/settings/components/SettingsMenu.tsx
  components/settings/config.tsx
  components/settings/credentials/SpaceCredentialSettings.tsx
  components/settings/import/ImportSettings.tsx
  components/settings/integrations/IntegrationSettings.tsx
  components/settings/invites/Invites.tsx
  components/settings/invites/components/InviteLinks/components/InviteIntro.tsx
  components/settings/notifications/NotificationSettings.tsx
  components/settings/profile/ProfileSettings.tsx
  components/settings/projects/ProjectsSettings.tsx
  components/settings/proposals/SpaceProposalSettings.tsx
  components/settings/roles/RoleSettings.tsx
  components/settings/space/SpaceSettings.tsx
  components/settings/subscription/CreateSubscriptionInformation.tsx
  components/settings/subscription/EnterpriseBillingScreen.tsx
  components/settings/subscription/SubscriptionInformation.tsx
  components/settings/subscription/SubscriptionSettings.tsx
  stories/Settings/Settings.stories.tsx
Labels: :rocket: deploy

#4288 Feat/builder rep
  @connect-shared/components/common/MultiTextInputField.tsx
  @connect-shared/lib/attestations/agoraApi.ts
  @connect-shared/lib/attestations/storeGitcoinProjectProfileInS3.ts
  @connect-shared/lib/attestations/storeProjectMetadataAndPublishToGitcoin.ts
  @connect-shared/lib/attestations/storeUpdatedProjectMetadataAttestation.ts
  @connect-shared/lib/projects/createOptimismProject.ts
  @connect-shared/lib/projects/form.ts
  __e2e__/rewards/filterRewards.spec.ts
  apps/connect/__e2e__/createProject.spec.ts
  apps/connect/components/projects/components/ProjectForm.tsx
  apps/connect/components/projects/components/ProjectMultiTextValueFields.tsx
  apps/connect/lib/projects/__tests__/createOptimismProject.spec.ts
  apps/connect/lib/projects/createProjectAction.ts
  apps/connect/lib/projects/editProjectAction.ts
  apps/sunnyawards/__e2e__/createProject.spec.ts
  apps/sunnyawards/components/projects/components/ProjectForm.tsx
  apps/sunnyawards/components/projects/new/CreateProjectPage.tsx
  apps/sunnyawards/lib/projects/__tests__/createConnectProject.spec.ts
  apps/sunnyawards/lib/projects/createProjectAction.ts
  apps/sunnyawards/lib/projects/editProjectAction.ts
  apps/sunnyawards/lib/projects/form.ts
  charmClient/apis/credentialsApi.ts
  components/common/PageLayout/components/Header/components/ShareButton/components/PaidPagePermissions/PaidShareToWeb.tsx
  components/common/PageLayout/components/Header/components/ShareButton/components/PaidPagePermissions/__tests__/PaidShareToWeb.spec.tsx
  components/common/PageLayout/components/Header/components/ShareButton/components/common/ShareToWeb.tsx
  lib/credentials/__tests__/mapProjectToGitcoin.spec.ts
  lib/credentials/__tests__/mapProjectToOptimism.spec.ts
  lib/credentials/attestOnchain.ts
  lib/credentials/constants.ts
  lib/credentials/external/easGraphQlClients.ts
  lib/credentials/external/getOnchainCredentials.ts
  lib/credentials/getAttestationS3Path.ts
  lib/credentials/getCharmverseSigner.ts
  lib/credentials/mapProjectToGitcoin.ts
  lib/credentials/mapProjectToOptimism.ts
  lib/credentials/reputation/constants.ts
  lib/credentials/reputation/getUserIdentifier.ts
  lib/credentials/reputation/issueProposalPublishedQualifyingEvent.ts
  lib/credentials/reputation/issueUserIdentifier.ts
  lib/credentials/reputation/storeCharmverseProjectMetadata.ts
  lib/credentials/schemas/charmProject.ts
  lib/credentials/schemas/charmProjectMetadata.ts
  lib/credentials/schemas/charmQualifyingEvent.ts
  lib/credentials/schemas/charmUserIdentifier.ts
  lib/credentials/schemas/deploySchema.ts
  lib/credentials/schemas/index.ts
  lib/credentials/storeProjectInS3.ts
  lib/proposals/__tests__/getProposal.spec.ts
  lib/proposals/getProposal.ts
  pages/api/optimism/projects/[attestationId]/index.ts
  pages/api/projects/[id]/index.ts
  pages/api/projects/[id]/patch.ts
  pages/api/projects/index.ts
  pages/api/proposals/[id]/publish.ts
  scripts/migrations/2024_08_02_migrateProposalPublicPermissions.ts
  tsconfig.json
Labels: :rocket: deploy

#4396 Sunny UI changes
  @connect-shared/components/WarpcastButton.tsx
  @connect-shared/components/common/CanvasQrCode.tsx
  @connect-shared/components/common/FarcasterModal.tsx
  apps/sunnyawards/__e2e__/createProject.spec.ts
  apps/sunnyawards/__e2e__/homePage.spec.ts
  apps/sunnyawards/app/favicon.ico
  apps/sunnyawards/app/layout.tsx
  apps/sunnyawards/app/p/[path]/share/page.tsx
  apps/sunnyawards/components/common/FarcasterCard.tsx
  apps/sunnyawards/components/common/Header/Header.tsx
  apps/sunnyawards/components/common/Warpcast/WarpcastIcon.tsx
  apps/sunnyawards/components/common/Warpcast/WarpcastLogin.tsx
  apps/sunnyawards/components/home/HomePage.tsx
  apps/sunnyawards/components/home/components/WarpcastLogin.tsx
  apps/sunnyawards/components/profile/ProfilePage.tsx
  apps/sunnyawards/components/profile/[username]/ProfileDetailsPage.tsx
  apps/sunnyawards/components/profile/components/ProfileDetailsSkeleton.tsx
  apps/sunnyawards/components/projects/[id]/ProjectDetailsPage.tsx
  apps/sunnyawards/components/projects/components/ProjectDetails.tsx
  apps/sunnyawards/components/projects/components/ProjectDetailsSkeleton.tsx
  apps/sunnyawards/components/projects/components/ProjectForm.tsx
  apps/sunnyawards/components/projects/components/ProjectItem.tsx
  apps/sunnyawards/components/projects/edit/EditProjectPage.tsx
  apps/sunnyawards/components/projects/new/CreateProjectPage.tsx
  apps/sunnyawards/components/welcome/WelcomePage.tsx
  apps/sunnyawards/hooks/useFarcasterConnection.tsx
  apps/sunnyawards/public/images/sunny-awards-banner.webp
  apps/sunnyawards/public/images/sunnys-icon.webp
  apps/sunnyawards/theme/colors.ts
  apps/sunnyawards/theme/index.d.ts
  apps/sunnyawards/theme/theme.tsx
  hooks/useFarcasterConnection.tsx
Labels: :rocket: deploy-sunnyawards

#4400 Explicitly add folders to Docker image
  .github/actions/build_docker_image/action.yml
  .github/workflows/test_and_deploy_connect.yml
  apps/connect/Dockerfile
  apps/connect/README.md
Labels: :rocket: deploy-sunnyawards

#4403 copy over files necessary for connect api
  apps/connect-api/src/api/session/login-with-farcaster.ts
  apps/connect/Dockerfile
Labels: :rocket: deploy-connect

#4413 Fetch same project frames
  apps/farcaster/app/api/product-updates/frames/[id]/route.ts
  apps/farcaster/lib/productUpdates/getProductUpdatesFrame.ts
Labels: :rocket: deploy-farcaster

#4424 Fixed published at sort for proposals table and source board
  components/common/DatabaseEditor/store/cards.ts
  lib/proposals/createDefaultProposal.ts
  lib/proposals/createProposal.ts
Labels: :rocket: deploy

#4415 Improve UI for text inputs
  components/common/ProjectForm/components/ProjectField/ProjectForm.tsx
  components/common/form/fields/MultiTextInputField.tsx
  components/common/form/fields/TextInputField.tsx
  components/settings/projects/components/ProjectForm.tsx
Labels: :rocket: deploy-connect

#4429 track more Mixpanel events for sunny awards
  @connect-shared/hooks/usePageView.ts
  @connect-shared/hooks/useTrackEvent.ts
  @connect-shared/lib/mixpanel/trackEventAction.ts
  @connect-shared/lib/mixpanel/trackEventActionSchema.ts
  @connect-shared/lib/mixpanel/trackMixpanelEvent.ts
  @connect-shared/lib/profile/getCurrentUserAction.ts
  @connect-shared/lib/session/loginAction.ts
  @connect-shared/lib/session/logoutAction.ts
  apps/sunnyawards/app/layout.tsx
  apps/sunnyawards/app/p/[path]/share/page.tsx
  apps/sunnyawards/components/common/ClientGlobal.tsx
  apps/sunnyawards/components/common/Footer.tsx
  apps/sunnyawards/components/common/Header/Header.tsx
  apps/sunnyawards/components/common/WarpcastLogin/WarpcastIcon.tsx
  apps/sunnyawards/components/common/WarpcastLogin/WarpcastLogin.tsx
  apps/sunnyawards/components/home/HomePage.tsx
  apps/sunnyawards/components/projects/[id]/ProjectDetailsPage.tsx
  apps/sunnyawards/components/projects/[id]/share/components/ShareProjectToWarpcastButton.tsx
  apps/sunnyawards/components/projects/[id]/share/components/WarpcastButton.tsx
  apps/sunnyawards/lib/farcaster/config.ts
  apps/sunnyawards/lib/farcaster/loginWithFarcaster.ts
  apps/sunnyawards/lib/projects/createProjectAction.ts
  lib/farcaster/loginWithFarcaster.ts
  lib/metrics/mixpanel/trackUserAction.ts
  lib/metrics/mixpanel/utils.ts
Labels: :rocket: deploy-sunnyawards

#4427 gracefully handle invalid user session cookie
  apps/connect/app/page.tsx
  apps/connect/middleware.ts
  apps/sunnyawards/app/page.tsx
  apps/sunnyawards/middleware.ts
Labels: :rocket: deploy-connect

#4431 add share to twitter button
  @connect-shared/components/ProjectShareItem.tsx
  @connect-shared/lib/attestations/storeGitcoinProjectProfileInS3.ts
  @connect-shared/lib/attestations/storeProjectMetadataAndPublishOptimismAttestation.ts
  @connect-shared/lib/attestations/storeProjectMetadataAndPublishToGitcoin.ts
  @connect-shared/lib/attestations/storeUpdatedProjectMetadataAttestation.ts
  @connect-shared/lib/projects/findProject.ts
  @connect-shared/lib/projects/saveOgImage.ts
  apps/connect/app/p/[path]/edit/page.tsx
  apps/connect/app/p/[path]/page.tsx
  apps/connect/components/projects/[id]/ProjectDetailsPage.tsx
  apps/connect/components/projects/components/ProjectDetails.tsx
  apps/connect/components/projects/edit/EditProjectPage.tsx
  apps/sunnyawards/__e2e__/createProject.spec.ts
  apps/sunnyawards/app/layout.tsx
  apps/sunnyawards/app/p/[path]/edit/page.tsx
  apps/sunnyawards/app/p/[path]/page.tsx
  apps/sunnyawards/app/p/[path]/share/page.tsx
  apps/sunnyawards/components/projects/[id]/ProjectDetailsPage.tsx
  apps/sunnyawards/components/projects/[id]/share/components/TwitterShareButton.tsx
  apps/sunnyawards/components/projects/[id]/share/components/WarpcastShareButton.tsx
  apps/sunnyawards/components/projects/components/ProjectDetails.tsx
  apps/sunnyawards/components/projects/edit/EditProjectPage.tsx
  lib/credentials/__tests__/mapProjectToGitcoin.spec.ts
  lib/credentials/mapProjectToGitcoin.ts
  lib/credentials/storeProjectInS3.ts
Labels: :rocket: deploy-sunnyawards

#4444 Fixes to Welcome onboarding form in Sunny
  apps/sunnyawards/components/welcome/ExtraDetails.tsx
  apps/sunnyawards/lib/profile/form.ts
Labels: :rocket: deploy-sunnyawards

#4443 Update chains used for Sunny Award projects
  apps/sunnyawards/components/projects/components/BlockchainSelect.tsx
  apps/sunnyawards/components/projects/components/BlockchainSelect/BlockchainLogo.tsx
  apps/sunnyawards/components/projects/components/BlockchainSelect/index.tsx
  apps/sunnyawards/components/projects/components/ProjectForm.tsx
  apps/sunnyawards/components/projects/edit/EditProjectPage.tsx
  apps/sunnyawards/components/projects/new/CreateProjectPage.tsx
  apps/sunnyawards/public/images/crypto/base64.png
  apps/sunnyawards/public/images/crypto/cyber64.png
  apps/sunnyawards/public/images/crypto/frax64.png
  apps/sunnyawards/public/images/crypto/lisk64.png
  apps/sunnyawards/public/images/crypto/metal64.png
  apps/sunnyawards/public/images/crypto/mint64.png
  apps/sunnyawards/public/images/crypto/mode64.png
  apps/sunnyawards/public/images/crypto/op64.png
  apps/sunnyawards/public/images/crypto/redstone64.png
  apps/sunnyawards/public/images/crypto/zora64.png
  apps/sunnyawards/public/images/cryptoLogos/arbitrum.svg
  apps/sunnyawards/public/images/cryptoLogos/aurora-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/avalanche-avax-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/base-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/binance-coin-bnb-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/bitcoin-btc-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/bitcoin-cash-bch-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/bnb-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/celo-celo-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/cronos-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/duno_logo_color.png
  apps/sunnyawards/public/images/cryptoLogos/eluvio-logo.png
  apps/sunnyawards/public/images/cryptoLogos/eth-diamond-purple.png
  apps/sunnyawards/public/images/cryptoLogos/ethereum-eth-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/ethereum-icon-purple.svg
  apps/sunnyawards/public/images/cryptoLogos/fantom-ftm-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/fantom.svg
  apps/sunnyawards/public/images/cryptoLogos/flow-flow-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/gnosis-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/goerli-logo.png
  apps/sunnyawards/public/images/cryptoLogos/harmony-one-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/kovan-logo.png
  apps/sunnyawards/public/images/cryptoLogos/kyoto-logo.png
  apps/sunnyawards/public/images/cryptoLogos/kyoto-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/litecoin-ltc-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/mantle-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/optimism.svg
  apps/sunnyawards/public/images/cryptoLogos/polygon-matic-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/ripple-xrp-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/solana-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/taiko-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/xdai-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/zksync-era-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/zora-logo.svg
Labels: :rocket: deploy-sunnyawards

#4430 Bugs/sunny patches
  .ebstalk.apps.env/connect.env
  .ebstalk.apps.env/sunnyawards.env
  @connect-shared/lib/actions/onError.ts
  @connect-shared/lib/attestations/agoraApi.ts
  @connect-shared/lib/attestations/storeProjectMetadataAndPublishOptimismAttestation.ts
  @connect-shared/lib/projects/createOptimismProject.ts
  @connect-shared/lib/projects/editOptimismProject.ts
  apps/sunnyawards/components/projects/components/AddProjectMembersForm.tsx
  apps/sunnyawards/components/projects/components/FormErrors.tsx
  apps/sunnyawards/components/projects/components/ProjectForm.tsx
  apps/sunnyawards/components/projects/edit/EditProjectPage.tsx
  apps/sunnyawards/components/projects/new/CreateProjectPage.tsx
  apps/sunnyawards/lib/projects/form.ts
  connectors/chains.ts
  lib/blockchain/getENSName.ts
  lib/blockchain/resolveEnsAddress.ts
  lib/credentials/mapProjectToOptimism.ts
  lib/utils/__tests__/strings.spec.ts
  lib/utils/strings.ts
Labels: :rocket: deploy-sunnyawards

#4442 add groups of categories for sunny awards
  apps/sunnyawards/components/projects/components/ProjectForm.tsx
  apps/sunnyawards/lib/projects/form.ts
Labels: :rocket: deploy-sunnyawards

#4439 Remove 2 contract fields from OP projects
  @connect-shared/lib/projects/createOptimismProject.ts
  @connect-shared/lib/projects/editOptimismProject.ts
  @connect-shared/lib/projects/findProject.ts
  apps/sunnyawards/components/projects/components/ProjectForm.tsx
  apps/sunnyawards/components/projects/edit/EditProjectPage.tsx
  apps/sunnyawards/lib/projects/form.ts
  lib/credentials/__tests__/mapProjectToGitcoin.spec.ts
  lib/credentials/__tests__/mapProjectToOptimism.spec.ts
  lib/credentials/mapProjectToOptimism.ts
Labels: :rocket: deploy-sunnyawards

#4462 test sunny deploy
  apps/connect/Dockerfile
Labels: :rocket: deploy-sunnyawards

#4464 move ebextensions into one top-level folder
  .dockerignore
  .ebextensions/ceramic/00_env_vars.config
  .ebextensions/ceramic/01_env_health_ignore_400.config
  .ebextensions/ceramic/04_autoscaling.config
  .ebextensions/ceramic/06_cloudwatch_alarm.config
  .ebextensions/connect/00_env_vars.config
  .ebextensions/connect/01_filesystem.config
  .ebextensions/connect/02_autoscaling.config
  .ebextensions/connect/03_env_health_ignore_400.config
  .ebextensions/connect/06_cloudwatch_alarm.config
  .ebextensions/connect/07_http-to-https.config
  .ebextensions/cron/00_env_vars.config
  .ebextensions/cron/01_env_health_ignore_400.config
  .ebextensions/cron/01_filesystem.config
  .ebextensions/cron/06_cloudwatch_alarm.config
  .ebextensions/farcaster/00_env_vars.config
  .ebextensions/farcaster/01_filesystem.config
  .ebextensions/farcaster/02_autoscaling.config
  .ebextensions/farcaster/03_env_health_ignore_400.config
  .ebextensions/sunnyawards/00_env_vars.config
  .ebextensions/sunnyawards/01_filesystem.config
  .ebextensions/sunnyawards/02_autoscaling.config
  .ebextensions/sunnyawards/03_env_health_ignore_400.config
  .ebextensions/sunnyawards/06_cloudwatch_alarm.config
  .ebextensions/sunnyawards/07_http-to-https.config
  .ebextensions/webapp/00_env_vars.config
  .ebextensions/webapp/01_env_health_ignore_400.config
  .ebextensions/webapp/01_filesystem.config
  .ebextensions/webapp/01_setup_swap.config
  .ebextensions/webapp/02_alb-http-to-https-redirection.config
  .ebextensions/webapp/03_setup_websocket_config
  .ebextensions/webapp/04_autoscaling.config
  .ebextensions/webapp/05_alb_targetgrp.config
  .ebextensions/webapp/06_cloudwatch_alarm.config
  .ebextensions/webapp/07_alb_sslpolicy.config
  .ebextensions/webapp/setup_swap.sh
  .ebextensions/websockets/00_env_vars.config
  .ebextensions/websockets/01_env_health_ignore_400.config
  .ebextensions/websockets/01_filesystem.config
  .ebextensions/websockets/03_setup_websocket_config
  .ebextensions/websockets/04_autoscaling.config
  .ebextensions/websockets/05_alb_targetgrp.config
  .ebextensions/websockets/06_cloudwatch_alarm.config
  .ebextensions/websockets/07_alb_sslpolicy.config
  .github/workflows/deploy_staging.yml
  .github/workflows/test_and_deploy.yml
  .github/workflows/test_and_deploy_connect.yml
  .github/workflows/test_and_deploy_farcaster.yml
  README.md
Labels: :rocket: deploy-sunnyawards

#4458 Share reviews
  .github/workflows/destroy_staging.yml
  components/common/CreateSpaceForm/CreateSpaceForm.tsx
  components/common/UserDisplay.tsx
  components/common/form/FormControlLabel.tsx
  components/proposals/ProposalPage/components/ProposalEvaluations/components/Review/components/PassFailEvaluationContainer.tsx
  components/proposals/ProposalPage/components/ProposalEvaluations/components/Review/components/RubricEvaluation/RubricEvaluation.tsx
  components/proposals/ProposalPage/components/ProposalEvaluations/components/Review/components/RubricEvaluation/RubricResults.tsx
  components/proposals/ProposalPage/components/ProposalEvaluations/components/Settings/components/EvaluationStepSettings.tsx
  components/proposals/ProposalPage/components/ProposalEvaluations/components/Settings/components/RewardSettings.tsx
  components/proposals/ProposalPage/components/ProposalEvaluations/components/Settings/components/RubricCriteriaSettings.tsx
  components/settings/account/hooks/useIdentityTypes.tsx
  components/settings/profile/components/IdentityModal.tsx
  components/settings/proposals/components/EvaluationPermissions.tsx
  lib/discord/upsertUserForDiscordId.ts
  lib/proposals/__tests__/createDraftProposal.spec.ts
  lib/proposals/__tests__/mapDbProposalToProposal.spec.ts
  lib/proposals/createProposal.ts
  lib/proposals/mapDbProposalToProposal.ts
  lib/proposals/updateProposalEvaluation.ts
  lib/spaces/getAvailableDomainName.ts
  lib/utils/randomName.ts
  pages/api/email-templates.ts
  pages/api/proposals/[id]/evaluation.ts
  scripts/generateRewardApplications.ts
  scripts/seedUsers.ts
  testing/mocks/proposal.ts
  testing/utils/users.ts
Labels: :rocket: deploy

#4472 Fix/missing user
  @connect-shared/lib/projects/createProject.ts
  @connect-shared/lib/projects/editProject.ts
  @connect-shared/lib/projects/findProject.ts
  apps/connect/components/profile/ProfilePage.tsx
  apps/connect/components/profile/[username]/ProfileDetailsPage.tsx
  apps/connect/components/projects/components/AddProjectMembersForm.tsx
  apps/sunnyawards/components/profile/ProfilePage.tsx
  apps/sunnyawards/components/profile/[username]/ProfileDetailsPage.tsx
  apps/sunnyawards/components/projects/components/AddProjectMembersForm.tsx
  lib/farcaster/__tests__/ensureFarcasterUserExists.spec.ts
  lib/farcaster/ensureFarcasterUserExists.ts
Labels: :rocket: deploy-sunnyawards

#4477 fix cache key for app builds
  .github/actions/build/action.yml
  .github/actions/build_app/action.yml
  .github/actions/install/action.yml
  .github/workflows/deploy_connect.yml
  .github/workflows/deploy_farcaster.yml
  .github/workflows/deploy_sunnyawards.yml
  .github/workflows/destroy_staging.yml
  .github/workflows/test_and_deploy.yml
  .github/workflows/test_new_core_pkg.yml
  apps/sunnyawards/components/projects/[id]/ProjectDetailsPage.tsx
Labels: :rocket: deploy-sunnyawards

#4471 Feat/private milestones
  charmClient/apis/permissions/spacePermissionsApi.ts
  components/settings/roles/components/RolePermissions/components/DefaultPagePermissions.tsx
  lib/proposals/__tests__/createRewardsForProposal.spec.ts
  lib/proposals/createRewardsForProposal.ts
  lib/rewards/__tests__/createReward.spec.ts
  lib/rewards/createReward.ts
Labels: :rocket: deploy

#4484 add invalid handler on project form for sunny awards
  apps/sunnyawards/components/projects/components/ProjectForm.tsx
  apps/sunnyawards/components/projects/edit/EditProjectPage.tsx
  apps/sunnyawards/components/projects/new/CreateProjectPage.tsx
Labels: :rocket: deploy-sunnyawards

#4487 Add extra details for Sunnyawards category
  @connect-shared/lib/projects/createProject.ts
  @connect-shared/lib/projects/editProject.ts
  @connect-shared/lib/projects/findProject.ts
  @connect-shared/lib/projects/projectSchema.ts
  apps/sunnyawards/components/projects/components/ProjectForm.tsx
  apps/sunnyawards/components/projects/edit/EditProjectPage.tsx
  apps/sunnyawards/components/projects/new/CreateProjectPage.tsx
  apps/sunnyawards/lib/mailer/templates/ProjectConfirmation.tsx
  apps/sunnyawards/lib/projects/__tests__/createConnectProject.spec.ts
  apps/sunnyawards/lib/projects/schema.ts
  lib/credentials/__tests__/mapProjectToGitcoin.spec.ts
  lib/farcaster/ensureFarcasterUserExists.ts
Labels: :rocket: deploy-sunnyawards

#4490 Add CDN + set build id for frontend logs in sunnyawards
  .ebextensions/sunnyawards/00_env_vars.config
  .github/workflows/deploy_farcaster.yml
  .github/workflows/deploy_sunnyawards.yml
  .github/workflows/destroy_staging.yml
  apps/sunnyawards/Dockerfile
  apps/sunnyawards/next.config.js
  docker-compose.yml
Labels: :rocket: deploy-sunnyawards

#4497 de-dupe CI vars
  .github/workflows/deploy_farcaster.yml
  .github/workflows/deploy_scoutgame.yml
  .github/workflows/deploy_sunnyawards.yml
Labels: :rocket: deploy-sunnyawards

#4505 clean up project form in Product Updates feature
  @connect-shared/components/ProjectShareItem.tsx
  @connect-shared/components/common/FormErrors.tsx
  @connect-shared/components/common/ImageField.tsx
  @connect-shared/components/project/ProjectForm.tsx
  @connect-shared/lib/attestations/storeGitcoinProjectProfileInS3.ts
  @connect-shared/lib/attestations/storeProjectMetadataAndPublishOptimismAttestation.ts
  @connect-shared/lib/attestations/storeProjectMetadataAndPublishToGitcoin.ts
  @connect-shared/lib/attestations/storeUpdatedProjectMetadataAttestation.ts
  @connect-shared/lib/projects/projectSchema.ts
  apps/farcaster/app/product-updates/frames/[id]/page.tsx
  apps/farcaster/app/product-updates/page.tsx
  apps/farcaster/components/product-updates/ProductUpdatesPage.tsx
  apps/farcaster/components/product-updates/components/NewProductUpdateForm.tsx
  apps/farcaster/components/product-updates/components/NewProjectForm.tsx
  apps/farcaster/components/product-updates/components/ProjectAvatar.tsx
  apps/farcaster/components/product-updates/frames/[id]/ProductUpdatesFrame.tsx
  apps/farcaster/components/projects/CreateProjectForm.tsx
  apps/farcaster/lib/productUpdates/createProductUpdatesFrame.ts
  apps/farcaster/lib/projects/createProject.ts
  apps/farcaster/lib/projects/getConnectProjectsByFid.ts
  apps/farcaster/lib/projects/projectSchema.ts
  apps/scoutgame/tsconfig.json
  apps/sunnyawards/app/projects/new/page.tsx
  apps/sunnyawards/components/profile/components/ProjectItem.tsx
  apps/sunnyawards/components/profile/components/ProjectsList.tsx
  apps/sunnyawards/components/projects/components/ProjectForm.tsx
  apps/sunnyawards/components/projects/components/ProjectImageField.tsx
  apps/sunnyawards/components/projects/edit/EditProjectPage.tsx
  apps/sunnyawards/components/projects/new/NewProjectPage.tsx
  apps/sunnyawards/lib/gitcoin/publishProjectToGitcoinAction.ts
  apps/sunnyawards/lib/projects/__tests__/createConnectProject.spec.ts
  apps/sunnyawards/lib/projects/createProject.ts
  apps/sunnyawards/lib/projects/createProjectAction.ts
  apps/sunnyawards/lib/projects/editProject.ts
  apps/sunnyawards/lib/projects/editProjectAction.ts
  apps/sunnyawards/lib/projects/getRecentProjectsWithMembers.ts
  apps/sunnyawards/lib/projects/schema.ts
  charmClient/hooks/optimism.ts
  components/common/ProjectForm/components/Optimism/OptimismProjectDisplay.tsx
  components/common/ProjectForm/components/Optimism/OptimismProjectForm.tsx
  components/common/ProjectForm/components/Optimism/OptimismProjectSelector.tsx
  components/settings/projects/ProjectsSettings.tsx
  components/settings/projects/components/NewProjectForm.tsx
  lib/credentials/reputation/storeCharmverseProjectMetadata.ts
  lib/credentials/storeProjectInS3.ts
  lib/optimism/createProject.ts
  lib/optimism/editProject.ts
  lib/optimism/getOpProjectsByAttestationId.ts
  lib/optimism/getOpProjectsByFarcasterId.ts
  lib/optimism/projectSchema.ts
  lib/projects/generateOgImage.ts
  lib/projects/saveOgImage.ts
  pages/api/optimism/projects/[attestationId]/index.ts
  pages/api/optimism/projects/index.ts
  scripts/query.ts
  scripts/sunny/backfillGitcoinEasyRetroPGFAttestations.ts
Labels: :rocket: deploy-sunnyawards

#4494 Fix redirect error triggered by actions
  @connect-shared/lib/actions/actionClient.ts
  @connect-shared/lib/mixpanel/trackEventAction.ts
  @connect-shared/lib/profile/getCurrentUser.ts
  @connect-shared/lib/profile/getCurrentUserAction.ts
  @connect-shared/lib/profile/onboardingAction.ts
  @connect-shared/lib/session/config.ts
  @connect-shared/lib/session/logoutAction.ts
  apps/sunnyawards/__e2e__/invalidUserSession.spec.ts
  apps/sunnyawards/app/layout.tsx
  apps/sunnyawards/app/p/[path]/edit/page.tsx
  apps/sunnyawards/app/page.tsx
  apps/sunnyawards/app/profile/page.tsx
  apps/sunnyawards/app/projects/new/page.tsx
  apps/sunnyawards/app/welcome/page.tsx
  apps/sunnyawards/components/common/ClientGlobal.tsx
  apps/sunnyawards/components/common/InvalidUser.tsx
  apps/sunnyawards/components/projects/components/ProjectForm.tsx
  apps/sunnyawards/middleware.ts
Labels: :rocket: deploy-sunnyawards

#4512 Allow 2-letter space domains
  components/settings/space/SpaceSettings.tsx
Labels: :rocket: deploy

#4516 Table row open button link
  components/[pageId]/DatabasePage/DatabasePage.tsx
  components/common/CharmEditor/components/inlineDatabase/components/InlineDatabase.tsx
  components/common/DatabaseEditor/components/__snapshots__/centerPanel.spec.tsx.snap
  components/common/DatabaseEditor/components/centerPanel.spec.tsx
  components/common/DatabaseEditor/components/centerPanel.tsx
  components/common/DatabaseEditor/components/table/__snapshots__/table.spec.tsx.snap
  components/common/DatabaseEditor/components/table/__snapshots__/tableRow.spec.tsx.snap
  components/common/DatabaseEditor/components/table/table.spec.tsx
  components/common/DatabaseEditor/components/table/table.tsx
  components/common/DatabaseEditor/components/table/tableGroup.tsx
  components/common/DatabaseEditor/components/table/tableRow.tsx
  components/common/DatabaseEditor/components/table/tableRows.tsx
  components/proposals/ProposalsPage.tsx
  components/rewards/RewardsPage.tsx
  pages/[domain]/index.tsx
Labels: :rocket: deploy

#4519 Table open button link
  components/[pageId]/DatabasePage/DatabasePage.tsx
  components/common/CharmEditor/components/inlineDatabase/components/InlineDatabase.tsx
  components/common/DatabaseEditor/components/__snapshots__/centerPanel.spec.tsx.snap
  components/common/DatabaseEditor/components/centerPanel.spec.tsx
  components/common/DatabaseEditor/components/centerPanel.tsx
  components/common/DatabaseEditor/components/table/__snapshots__/table.spec.tsx.snap
  components/common/DatabaseEditor/components/table/__snapshots__/tableRow.spec.tsx.snap
  components/common/DatabaseEditor/components/table/table.spec.tsx
  components/common/DatabaseEditor/components/table/table.tsx
  components/common/DatabaseEditor/components/table/tableGroup.tsx
  components/common/DatabaseEditor/components/table/tableRow.tsx
  components/common/DatabaseEditor/components/table/tableRows.tsx
  components/proposals/ProposalPage/components/ProposalProperties/components/ProposalRewards/ProposalRewardsTable.tsx
  components/proposals/ProposalsPage.tsx
  components/rewards/RewardsPage.tsx
  pages/[domain]/index.tsx
Labels: :rocket: deploy

#4510 Create cv user in farcaster composer app
  apps/farcaster/components/product-updates/frames/[id]/ProductUpdatesFrame.tsx
  apps/farcaster/lib/projects/createProject.ts
  apps/sunnyawards/lib/projects/createProjectAction.ts
  lib/farcaster/createOrUpdateFarcasterUser.ts
  lib/farcaster/loginWithFarcaster.ts
Labels: work-in-progress, :rocket: deploy-farcaster

#4515 Fix db csv export
  lib/databases/__tests__/generateCsv.spec.ts
  lib/databases/generateCsv.ts
Labels: :rocket: deploy

#4518 Proposals page reviewers tab
  charmClient/apis/proposalsApi.ts
  charmClient/hooks/proposals.ts
  components/proposals/ProposalsPage.tsx
  components/proposals/components/ProposalsReviewersTable/ProposalsReviewersTable.tsx
  components/proposals/components/ProposalsReviewersTable/ReviewerProposalsTable.tsx
  components/proposals/components/UserProposalsTables/ProposalsTable.tsx
  components/proposals/components/UserProposalsTables/UserProposalsTables.tsx
  lib/proposals/__tests__/getProposalsReviewers.spec.ts
  lib/proposals/__tests__/getUserProposals.spec.ts
  lib/proposals/getProposalsReviewers.ts
  lib/proposals/getUserProposals.ts
  packages/charmeditor/src/buildSchema.ts
  packages/charmeditor/src/extensions/listItem/listItemPlugins.ts
  pages/api/spaces/[id]/proposals/reviewers/export.ts
  pages/api/spaces/[id]/proposals/reviewers/index.ts
Labels: :rocket: deploy

#4521 remove area selection capability from database table
  @connect-shared/components/layout/AppProviders.tsx
  apps/farcaster/lib/productUpdates/createImageResponse.ts
  components/common/DatabaseEditor/components/table/table.tsx
  components/common/DatabaseEditor/components/table/tableRow.tsx
Labels: :rocket: deploy
