Repository charmverse/app.charmverse.io, pull requests merged in 2024-10, with the labels that each got.

#4709 Fix page crash: dont use state to capture Wagmi config
  apps/scoutgame/components/common/WalletLogin/WagmiProvider.tsx
Labels: :rocket: deploy-scoutgame

#4712 SG UI bug fixes
  apps/scoutgame/app/(general)/scout/page.tsx
  apps/scoutgame/components/[username]/PublicProfilePage.tsx
  apps/scoutgame/components/[username]/PublicProfileTabsMenu.tsx
  apps/scoutgame/components/[username]/components/PublicBuilderProfile/PublicBuilderProfile.tsx
  apps/scoutgame/components/[username]/components/PublicScoutProfile/PublicScoutProfile.tsx
  apps/scoutgame/components/common/Card/BuilderCard/BuilderCardNftDisplay.tsx
  apps/scoutgame/components/common/Carousel/Carousel.tsx
  apps/scoutgame/components/common/Gallery/BuildersGallery.tsx
  apps/scoutgame/components/common/Loading/LoadingGallery.tsx
  apps/scoutgame/components/common/Tabs/TabsMenu.tsx
  apps/scoutgame/components/home/HomePage.tsx
  apps/scoutgame/components/home/components/HomePageTable/components/ActivityTable.tsx
  apps/scoutgame/components/home/components/HomePageTable/components/HomeTabsMenu.tsx
  apps/scoutgame/components/home/components/HomePageTable/components/LeaderboardTable.tsx
  apps/scoutgame/components/home/components/HomePageTable/components/TopBuildersTable.tsx
  apps/scoutgame/components/home/components/HomePageTable/components/TopScoutsTable.tsx
  apps/scoutgame/components/profile/components/ProfileTabsMenu.tsx
  apps/scoutgame/components/scout/ScoutPage.tsx
  apps/scoutgame/components/scout/components/SortOptionTabs.tsx
  apps/scoutgame/hooks/useMediaScreens.ts
Labels: :rocket: deploy-scoutgame

#4699 SG login info modal
  apps/scoutgame/__e2e__/po/GeneralPageLayout.po.ts
  apps/scoutgame/__e2e__/profilePage.spec.ts
  apps/scoutgame/app/(general)/layout.tsx
  apps/scoutgame/components/common/Header/Header.tsx
  apps/scoutgame/components/common/Modal.tsx
  apps/scoutgame/components/common/ScoutButton/ScoutButton.tsx
  apps/scoutgame/components/common/ScoutButton/SignInModalMessage.tsx
  apps/scoutgame/components/common/SiteNavigation.tsx
  apps/scoutgame/components/common/WarpcastLogin/WarpcastLogin.tsx
  apps/scoutgame/components/home/components/HomePageTable/HomePageTable.tsx
  apps/scoutgame/components/home/components/HomePageTable/components/LeaderboardTable.tsx
  apps/scoutgame/components/home/components/HomePageTable/components/TopBuildersTable.tsx
  apps/scoutgame/components/layout/StickyFooter.tsx
  apps/scoutgame/public/images/profile/please-login.png
  apps/scoutgame/theme/theme.tsx
Labels: :rocket: deploy-scoutgame

#4715 allow using points to purchase an NFT
  @connect-shared/components/common/FarcasterModal.tsx
  apps/scoutgame/app/api/session/user/route.ts
  apps/scoutgame/components/[username]/PublicProfilePage.tsx
  apps/scoutgame/components/[username]/components/PublicBuilderProfile/PublicBuilderProfile.tsx
  apps/scoutgame/components/common/Dialog.tsx
  apps/scoutgame/components/common/Icons.tsx
  apps/scoutgame/components/common/Modal.tsx
  apps/scoutgame/components/common/NFTPurchaseDialog/NFTPurchaseDialog.tsx
  apps/scoutgame/components/common/NFTPurchaseDialog/components/ChainSelector.tsx
  apps/scoutgame/components/common/NFTPurchaseDialog/components/NFTPurchaseForm.tsx
  apps/scoutgame/components/common/NFTPurchaseDialog/components/NumberField.tsx
  apps/scoutgame/components/common/NFTPurchaseDialog/components/SuccessView.tsx
  apps/scoutgame/components/common/NFTPurchaseForm/NFTPurchaseForm.tsx
  apps/scoutgame/components/common/Profile/UserProfile.tsx
  apps/scoutgame/components/common/ScoutButton/ScoutButton.tsx
  apps/scoutgame/components/common/ScoutButton/SignInModalMessage.tsx
  apps/scoutgame/components/home/HomePage.tsx
  apps/scoutgame/components/home/components/BuildersCarousel/TodaysHotBuildersCarousel.tsx
  apps/scoutgame/components/home/components/HomePageTable/HomePageTable.tsx
  apps/scoutgame/components/home/components/HomePageTable/components/ActivityTable.tsx
  apps/scoutgame/components/info/InfoPage.tsx
  apps/scoutgame/components/welcome/WelcomePage.tsx
  apps/scoutgame/hooks/api/builders.ts
  apps/scoutgame/hooks/api/session.ts
  apps/scoutgame/lib/builderNFTs/checkDecentTransactionAction.ts
  apps/scoutgame/lib/builderNFTs/purchaseWithPointsAction.ts
  apps/scoutgame/lib/builderNFTs/purchaseWithPointsSchema.ts
  apps/scoutgame/lib/builderNFTs/saveDecentTransactionAction.ts
  apps/scoutgame/lib/session/getUserFromSession.ts
  apps/scoutgame/public/images/profile/scout-game-blue-icon.svg
  apps/scoutgame/theme/theme.tsx
  apps/scoutgamecron/src/scripts/approveBuilder.ts
  apps/scoutgamecron/src/scripts/fixArtwork.ts
  apps/scoutgamecron/src/tasks/processNftMints/index.ts
  package.json
  packages/scoutgame/src/builderNfts/handlePendingTransaction.ts
  packages/scoutgame/src/builderNfts/mintNFT.ts
  packages/scoutgame/src/builderNfts/refreshBuilderNftPrice.ts
  packages/scoutgame/src/builderNfts/registerBuilderNFT.ts
  packages/scoutgame/src/builderNfts/utils.ts
  packages/scoutgame/src/refreshUserStats.ts
  scripts/query.ts
Labels: :rocket: deploy-scoutgame

#4748 More informational buy button
  apps/scoutgame/components/common/NFTPurchaseDialog/components/NFTPurchaseForm.tsx
  packages/scoutgame/src/builderNfts/handlePendingTransaction.ts
  packages/scoutgame/src/builderNfts/mintNFT.ts
Labels: :rocket: deploy-scoutgame

#4746 Gift points during signup for waitlist users
  apps/scoutgame/lib/users/findOrCreateUser.ts
  apps/scoutgamecron/src/scripts/distributeWaitlistPoints.ts
Labels: work-in-progress

#4757 Erc20 purchase allowances
  apps/scoutgame/components/common/NFTPurchaseDialog/components/ChainSelector/chains.ts
  apps/scoutgame/components/common/NFTPurchaseDialog/components/ERC20Approve.tsx
  apps/scoutgame/components/common/NFTPurchaseDialog/components/NFTPurchaseForm.tsx
  apps/scoutgame/components/common/NFTPurchaseDialog/hooks/useGetERC20Allowance.tsx
  apps/scoutgame/components/common/NFTPurchaseDialog/hooks/useUpdateERC20Allowance.tsx
  packages/scoutgame/src/builderNfts/usdcContractApiClient.ts
Labels: :rocket: deploy-scoutgame

#4776 My work proposals view new tab link support
  components/proposals/components/UserProposalsTables/ActionableProposalsTable.tsx
  components/proposals/components/UserProposalsTables/ProposalsTable.tsx
Labels: :rocket: deploy

#4775 Anonymize proposal review step reviewers in public view
  components/common/DatabaseEditor/components/properties/UserAndRoleSelect.tsx
  components/common/UserDisplay.tsx
  components/proposals/ProposalPage/components/ProposalEvaluations/components/Review/components/PassFailEvaluation.tsx
Labels: :rocket: deploy

#4783 Alchemy RPC for SG FE
  .ebstalk.apps.env/scoutgame.env
  .env.example
  apps/scoutgame/components/common/WalletLogin/wagmiConfig.ts
  apps/scoutgame/components/common/WarpcastLogin/WarpcastLogin.tsx
  apps/scoutgame/lib/farcaster/config.ts
  apps/scoutgame/lib/farcaster/verifyFarcasterUser.ts
  lib/blockchain/provider/alchemy/client.ts
Labels: :rocket: deploy-scoutgame

#4785 Slight Warpcast login ux improvement
  apps/scoutgame/components/common/WarpcastLogin/FarcasterModal.tsx
  apps/scoutgame/components/common/WarpcastLogin/WarpcastLoginButton.tsx
Labels: :rocket: deploy-scoutgame

#4779 Review, approved, rejected count for My work proposal tables
  components/proposals/components/UserProposalsTables/ActionableProposalsTable.tsx
  components/proposals/components/UserProposalsTables/ProposalsTable.tsx
  lib/proposals/getUserProposals.ts
Labels: :rocket: deploy

#4784 Nft/use hooks
  apps/scoutgame/components/common/NFTPurchaseDialog/components/ChainSelector/ChainComponent.tsx
  apps/scoutgame/components/common/NFTPurchaseDialog/components/ChainSelector/ChainSelector.tsx
  apps/scoutgame/components/common/NFTPurchaseDialog/components/ChainSelector/chains.ts
  apps/scoutgame/components/common/NFTPurchaseDialog/components/NFTPurchaseForm.tsx
  apps/scoutgame/components/common/NFTPurchaseDialog/hooks/useDecentTransaction.tsx
  apps/scoutgame/components/common/NFTPurchaseDialog/hooks/useGetTokenBalances.tsx
  apps/scoutgamecron/src/scripts/syncUserNFTsFromOnchainData.ts
  packages/scoutgame/src/builderNfts/constants.ts
Labels: :rocket: deploy-scoutgame

#4755 Paginated scout page
  apps/scoutgame/app/(general)/scout/page.tsx
  apps/scoutgame/components/scout/ScoutPage.tsx
  apps/scoutgame/components/scout/components/BuildersGalleryContainer.tsx
  apps/scoutgame/components/scout/components/ScoutPageBuildersGallery.tsx
  apps/scoutgame/lib/builders/__tests__/getSortedBuilders.spec.ts
  apps/scoutgame/lib/builders/getSortedBuilders.ts
  apps/scoutgame/lib/builders/getSortedBuildersAction.ts
Labels: :rocket: deploy-scoutgame

#4792 Update Info Page + Partner Rewards Pages
  apps/scoutgame/app/(general)/info/partner-rewards/bountycaster/page.tsx
  apps/scoutgame/app/(general)/info/partner-rewards/celo/page.tsx
  apps/scoutgame/app/(general)/info/partner-rewards/game7/page.tsx
  apps/scoutgame/app/(general)/info/partner-rewards/moxie/page.tsx
  apps/scoutgame/app/(general)/info/partner-rewards/page.tsx
  apps/scoutgame/components/info/InfoPage.tsx
  apps/scoutgame/components/info/PartnerRewards/BountyCaster.tsx
  apps/scoutgame/components/info/PartnerRewards/CeloPage.tsx
  apps/scoutgame/components/info/PartnerRewards/Game7Page.tsx
  apps/scoutgame/components/info/PartnerRewards/MoxiePage.tsx
  apps/scoutgame/public/images/info/info_banner.png
  apps/scoutgame/public/images/info/rewards-partner-bountycaster.jpg
  apps/scoutgame/public/images/info/rewards-partner-celo.jpg
  apps/scoutgame/public/images/info/rewards-partner-game7.jpg
  apps/scoutgame/public/images/info/rewards-partner-moxie.jpg
Labels: :rocket: deploy-scoutgame

#4796 UI fix for my work tab proposal tables
  components/proposals/components/UserProposalsTables/ActionableProposalsTable.tsx
  components/proposals/components/UserProposalsTables/ProposalsTable.tsx
Labels: :rocket: deploy

#4818 Move rewards step above credentials
  components/common/DatabaseEditor/components/viewHeader/ViewHeaderRowsMenu/components/IssueProposalCredentials.tsx
  components/proposals/ProposalPage/components/ProposalEvaluations/components/Review/EvaluationsReview.tsx
  components/proposals/ProposalPage/components/ProposalEvaluations/components/Review/components/RewardReviewStep.tsx
  components/proposals/ProposalPage/components/ProposalEvaluations/components/Settings/EvaluationsSettings.tsx
  components/proposals/ProposalPage/components/ProposalEvaluations/components/Settings/components/EvaluationStepSettings.tsx
  components/proposals/components/ProposalStatusSelect.tsx
  components/proposals/hooks/useProposalCredentials.tsx
  lib/credentials/findIssuableProposalCredentials.ts
  lib/proposals/createRewardsForProposal.ts
  lib/proposals/getCurrentStep.ts
  lib/proposals/getUserProposals.ts
  lib/proposals/submitEvaluationAppealResult.ts
  lib/proposals/submitEvaluationResult.ts
Labels: :rocket: deploy

#4838 add users tab on scoutgame admin
  .ebstalk.apps.env/scoutgameadmin.env
  apps/scoutgameadmin/app/(general)/users/page.tsx
  apps/scoutgameadmin/app/api/onchain/scout-events/route.ts
  apps/scoutgameadmin/app/api/onchain/transaction-status/route.ts
  apps/scoutgameadmin/app/api/users/export/route.ts
  apps/scoutgameadmin/app/api/users/get-user/route.ts
  apps/scoutgameadmin/app/api/users/route.ts
  apps/scoutgameadmin/app/layout.tsx
  apps/scoutgameadmin/components/common/AppProviders.tsx
  apps/scoutgameadmin/components/common/ExportButton.tsx
  apps/scoutgameadmin/components/common/SiteNavigation.tsx
  apps/scoutgameadmin/components/repos/AddRepoButton/AddRepoModal.tsx
  apps/scoutgameadmin/components/repos/ExportButton.tsx
  apps/scoutgameadmin/components/repos/ReposDashboard.tsx
  apps/scoutgameadmin/components/users/AddUserButton/AddUserButton.tsx
  apps/scoutgameadmin/components/users/AddUserButton/AddUserModal.tsx
  apps/scoutgameadmin/components/users/UsersDashboard.tsx
  apps/scoutgameadmin/components/users/ViewTransactionsButton/ViewTransactionsButton.tsx
  apps/scoutgameadmin/components/users/ViewTransactionsButton/ViewTransactionsModal.tsx
  apps/scoutgameadmin/hooks/api/onchain.ts
  apps/scoutgameadmin/hooks/api/users.ts
  apps/scoutgameadmin/lib/users/getUser.ts
  apps/scoutgameadmin/lib/users/getUsers.ts
  apps/scoutgameadmin/package.json
  apps/scoutgameadmin/theme/theme.tsx
  packages/scoutgame/src/builderNfts/getOnchainPurchaseEvents.ts
  scripts/query.ts
Labels: :rocket: deploy-scoutgameadmin

#4863 add footer to info pages and fix layout
  apps/scoutgame/app/(general)/info/layout.tsx
  apps/scoutgame/app/(general)/info/partner-rewards/bountycaster/page.tsx
  apps/scoutgame/app/(general)/info/partner-rewards/celo/page.tsx
  apps/scoutgame/app/(general)/info/partner-rewards/game7/page.tsx
  apps/scoutgame/app/(general)/info/partner-rewards/moxie/page.tsx
  apps/scoutgame/components/common/DocumentPageContainer/DocumentPageContainer.tsx
  apps/scoutgame/components/info/InfoPage.tsx
  apps/scoutgame/components/info/SidebarInfo.tsx
  apps/scoutgame/components/info/components/InfoPageContainer.tsx
  apps/scoutgame/components/info/components/InfoPageFooter.tsx
  apps/scoutgame/components/info/components/SidebarInfo.tsx
  apps/scoutgame/components/info/components/SidebarInfoDrawer.tsx
  apps/scoutgame/components/info/dpa/DataProcessingPage.tsx
  apps/scoutgame/components/info/pages/AboutPage.tsx
  apps/scoutgame/components/info/pages/BuilderNftsPage.tsx
  apps/scoutgame/components/info/pages/BuildersPage.tsx
  apps/scoutgame/components/info/pages/PartnerRewardsPage.tsx
  apps/scoutgame/components/info/pages/PointsPage.tsx
  apps/scoutgame/components/info/pages/ScoutsPage.tsx
  apps/scoutgame/components/info/pages/SpamPolicyPage.tsx
  apps/scoutgame/components/info/pages/WeeklyRewardsPage.tsx
  apps/scoutgame/components/info/partner-rewards/BountyCasterPage.tsx
  apps/scoutgame/components/info/partner-rewards/CeloPage.tsx
  apps/scoutgame/components/info/partner-rewards/Game7Page.tsx
  apps/scoutgame/components/info/partner-rewards/MoxiePage.tsx
  apps/scoutgame/components/info/privacy-policy/PrivacyPolicyPage.tsx
  apps/scoutgame/components/info/terms/TermsPage.tsx
Labels: :rocket: deploy-scoutgame

#4875 update op reviewers
  scripts/optimism/retroPGF/v6/data.ts
  scripts/optimism/retroPGF/v6/exportStatus.ts
  scripts/optimism/retroPGF/v6/updateProjects.ts
  scripts/optimism/retroPGF/v6/utils.ts
Labels: work-in-progress

#4881 add default timeout to http calls
  packages/utils/src/http.ts
Labels: :rocket: deploy-scoutgame

#4880 Fix removing properties
  components/common/DatabaseEditor/components/properties/TagSelect/TagSelect.tsx
  components/common/DatabaseEditor/components/properties/UserSelect.tsx
  components/common/form/InputSearchMember.tsx
Labels: :rocket: deploy

#4869 Scoutgame claim page
  apps/scoutgame/__e2e__/claimPoints.spec.ts
  apps/scoutgame/app/(general)/claim/page.tsx
  apps/scoutgame/app/(general)/notifications/page.tsx
  apps/scoutgame/app/(general)/profile/page.tsx
  apps/scoutgame/app/api/session/claimable-points/route.ts
  apps/scoutgame/components/claim/ClaimPage.tsx
  apps/scoutgame/components/claim/components/BuilderRewardsScreen/BuilderRewardsScreen.tsx
  apps/scoutgame/components/claim/components/BuilderRewardsScreen/BuilderRewardsTable.tsx
  apps/scoutgame/components/claim/components/PointsClaimScreen/BonusPartnersDisplay.tsx
  apps/scoutgame/components/claim/components/PointsClaimScreen/PointsClaimButton.tsx
  apps/scoutgame/components/claim/components/PointsClaimScreen/PointsClaimScreen.tsx
  apps/scoutgame/components/claim/components/PointsTable/ClaimedPointsTable.tsx
  apps/scoutgame/components/claim/components/PointsTable/PointsReceiptRewardRow.tsx
  apps/scoutgame/components/claim/components/PointsTable/PointsTable.tsx
  apps/scoutgame/components/claim/components/PointsTable/UnclaimedPointsTable.tsx
  apps/scoutgame/components/claim/components/common/DividerRow.tsx
  apps/scoutgame/components/claim/components/common/LoadingTable.tsx
  apps/scoutgame/components/claim/components/common/PointsCell.tsx
  apps/scoutgame/components/common/ClaimIcon.tsx
  apps/scoutgame/components/common/ErrorSSRMessage.tsx
  apps/scoutgame/components/common/Header/Header.tsx
  apps/scoutgame/components/common/SiteNavigation.tsx
  apps/scoutgame/components/notifications/NotificationsPage.tsx
  apps/scoutgame/components/notifications/components/NotificationRow.tsx
  apps/scoutgame/components/profile/ProfilePage.tsx
  apps/scoutgame/components/profile/components/PointsClaimScreen/PointsClaimButton.tsx
  apps/scoutgame/components/profile/components/PointsClaimScreen/PointsClaimScreen.tsx
  apps/scoutgame/components/profile/components/PointsClaimScreen/QualifiedActionsTable.tsx
  apps/scoutgame/components/profile/components/ProfileTabsMenu.tsx
  apps/scoutgame/lib/builders/getBuilderRewards.ts
  apps/scoutgame/lib/points/claimPointsAction.ts
  apps/scoutgame/lib/points/getClaimablePointsWithEvents.ts
  apps/scoutgame/lib/points/getPointsReceiptsRewards.ts
  apps/scoutgame/public/images/cat-with-binoculars.png
  apps/scoutgame/public/images/profile/icons/card.svg
  apps/scoutgamecron/src/scripts/seeder/generateBuilderEvents.ts
  apps/scoutgamecron/src/scripts/seeder/generatePullRequest.ts
  apps/scoutgamecron/src/scripts/seeder/generateScout.ts
  apps/scoutgamecron/src/scripts/seeder/generateSeedData.ts
  apps/scoutgamecron/src/tasks/processBuilderActivity/getBuilderActivity.ts
  apps/scoutgamecron/src/tasks/processBuilderActivity/recordCommit.ts
  apps/scoutgamecron/src/tasks/processBuilderActivity/recordMergedPullRequest.ts
  apps/scoutgamecron/src/tasks/processGemsPayout/sendGemsPayoutEmails/sendGemsPayoutEmails.ts
  packages/scoutgame/src/dates.ts
  packages/scoutgame/src/notifications/getNotifications.ts
  packages/scoutgame/src/points/__tests__/getClaimablePoints.spec.ts
  packages/scoutgame/src/points/getClaimablePoints.ts
  scripts/migrations/2024_10_17_fixScoutScores.ts
  scripts/query.ts
Labels: :rocket: deploy-scoutgame

#4886 Fixed home table column spacing
  .github/actions/deploy_staging/action.yml
  apps/scoutgame/app/api/health/route.ts
  apps/scoutgame/components/claim/components/BuilderRewardsScreen/BuilderRewardsTable.tsx
  apps/scoutgame/components/home/components/HomePageTable/components/TopBuildersTable.tsx
  apps/scoutgame/components/home/components/HomePageTable/components/TopScoutsTable.tsx
Labels: :rocket: deploy-scoutgame

#4888 update build id
  .github/actions/deploy_staging/action.yml
  .github/workflows/deploy_scoutgame.yml
  .github/workflows/deploy_scoutgameadmin.yml
Labels: :rocket: deploy-scoutgame, :rocket: deploy-scoutgameadmin

#4894 Fix sourcemaps
  .github/workflows/deploy_scoutgame.yml
Labels: :rocket: deploy-scoutgame

#4891 Cleanup the admin dashboard
  apps/scoutgameadmin/components/common/SiteNavigation.tsx
  apps/scoutgameadmin/components/contract/ContractDashboard.tsx
  apps/scoutgameadmin/lib/contract/getContractData.ts
  packages/scoutgame/src/builderNfts/clients/builderNFTSeasonOneClient.ts
Labels: :rocket: deploy-scoutgameadmin

#4900 redirect users to scoutgame.xyz from waitlist
  apps/waitlist/middleware.ts
Labels: :rocket: deploy-waitlist

#4868 Use a global provider for optimistic purchases
  apps/scoutgame/__e2e__/UserPage/buyNft.spec.ts
  apps/scoutgame/__e2e__/loginPage.spec.ts
  apps/scoutgame/__e2e__/onboarding.spec.ts
  apps/scoutgame/__e2e__/po/UserPage.po.ts
  apps/scoutgame/__e2e__/po/Utilities.po.ts
  apps/scoutgame/__e2e__/profilePage.spec.ts
  apps/scoutgame/__e2e__/signOut.spec.ts
  apps/scoutgame/__e2e__/test.ts
  apps/scoutgame/app/api/session/pending-transactions/route.ts
  apps/scoutgame/components/[username]/PublicProfilePage.tsx
  apps/scoutgame/components/[username]/components/PublicBuilderProfile/PublicBuilderProfile.tsx
  apps/scoutgame/components/common/Header/Header.tsx
  apps/scoutgame/components/common/NFTPurchaseDialog/components/ERC20Approve.tsx
  apps/scoutgame/components/common/NFTPurchaseDialog/components/NFTPurchaseForm.tsx
  apps/scoutgame/components/common/NFTPurchaseDialog/components/SuccessView.tsx
  apps/scoutgame/components/common/WarpcastLogin/WarpcastLoginButton.tsx
  apps/scoutgame/components/home/components/BuildersCarousel/TodaysHotBuildersCarousel.tsx
  apps/scoutgame/components/layout/AppProviders.tsx
  apps/scoutgame/components/layout/PurchaseProvider.tsx
  apps/scoutgame/components/layout/SnackbarContext.tsx
  apps/scoutgame/components/profile/components/BuilderProfile/BuilderProfile.tsx
  apps/scoutgame/components/profile/components/ScoutProfile/ScoutProfile.tsx
  apps/scoutgame/hooks/api/helpers.ts
  apps/scoutgame/hooks/api/session.ts
  apps/scoutgame/lib/builderNFTs/checkDecentTransactionAction.ts
  apps/scoutgame/lib/builderNFTs/saveDecentTransactionAction.ts
  apps/scoutgame/lib/session/getPendingNftTransactions.tsx
  apps/scoutgame/package.json
  apps/scoutgame/playwright.config.ts
  packages/scoutgame/src/builderNfts/__tests__/mintNFT.spec.ts
  packages/scoutgame/src/builderNfts/__tests__/recordNftMint.spec.ts
  packages/scoutgame/src/builderNfts/handlePendingTransaction.ts
  packages/scoutgame/src/builderNfts/mintNFT.ts
  packages/scoutgame/src/builderNfts/recordNftMint.ts
  packages/scoutgame/src/testing/database.ts
Labels: :rocket: deploy-scoutgame

#4908 Add partner page for Lit protocol
  apps/scoutgame/app/(general)/info/partner-rewards/lit/page.tsx
  apps/scoutgame/components/info/components/SidebarInfo.tsx
  apps/scoutgame/components/info/partner-rewards/CeloPage.tsx
  apps/scoutgame/components/info/partner-rewards/Game7Page.tsx
  apps/scoutgame/components/info/partner-rewards/LitProtocolPage.tsx
  apps/scoutgame/public/images/info/rewards-partner-lit.png
Labels: :rocket: deploy-scoutgame

#4929 SG: Wallet signin support
  apps/scoutgame/__e2e__/UserPage/buyNft.spec.ts
  apps/scoutgame/__e2e__/onboarding.spec.ts
  apps/scoutgame/app/(general)/profile/page.tsx
  apps/scoutgame/app/api/session/refresh/route.ts
  apps/scoutgame/components/[path]/components/PublicScoutProfile/PublicScoutProfile.tsx
  apps/scoutgame/components/claim/components/BuilderRewardsScreen/BuilderRewardsTable.tsx
  apps/scoutgame/components/common/Layout.tsx
  apps/scoutgame/components/common/Profile/EditableUserProfile.tsx
  apps/scoutgame/components/common/Profile/ProfileLinks.tsx
  apps/scoutgame/components/common/Profile/UserProfile.tsx
  apps/scoutgame/components/common/WalletLogin/WalletLogin.tsx
  apps/scoutgame/components/common/WarpcastLogin/WarpcastIcon.tsx
  apps/scoutgame/components/common/WarpcastLogin/WarpcastLoginButton.tsx
  apps/scoutgame/components/login/LoginPage.tsx
  apps/scoutgame/components/welcome/WelcomePage.tsx
  apps/scoutgame/components/welcome/builder/components/ExtraDetailsForm.tsx
  apps/scoutgame/hooks/useFilePicker.ts
  apps/scoutgame/hooks/useGetUploadToken.ts
  apps/scoutgame/hooks/useS3UploadInput.ts
  apps/scoutgame/lib/blockchain/config.ts
  apps/scoutgame/lib/blockchain/findOrCreateWalletUser.ts
  apps/scoutgame/lib/blockchain/schema.ts
  apps/scoutgame/lib/blockchain/verifyWallet.ts
  apps/scoutgame/lib/builders/getBuilderActivities.ts
  apps/scoutgame/lib/builders/getBuilderRewards.ts
  apps/scoutgame/lib/builders/getBuilderScouts.ts
  apps/scoutgame/lib/builders/getLeaderboard.ts
  apps/scoutgame/lib/builders/getSortedBuilders.ts
  apps/scoutgame/lib/builders/getTodaysHotBuilders.ts
  apps/scoutgame/lib/builders/searchBuilders.ts
  apps/scoutgame/lib/farcaster/findOrCreateFarcasterUser.ts
  apps/scoutgame/lib/scouts/findScoutOrThrow.ts
  apps/scoutgame/lib/scouts/getScoutedBuilders.ts
  apps/scoutgame/lib/scouts/getTopScouts.ts
  apps/scoutgame/lib/session/getUser.ts
  apps/scoutgame/lib/session/getUserFromSession.ts
  apps/scoutgame/lib/session/loginWithFarcasterAction.ts
  apps/scoutgame/lib/session/loginWithWalletAction.ts
  apps/scoutgame/lib/users/findOrCreateUser.ts
  apps/scoutgame/lib/users/generateUserPath.ts
  apps/scoutgame/lib/users/getUserByPath.ts
  apps/scoutgame/lib/users/saveOnboardingDetailsAction.ts
  apps/scoutgame/lib/users/saveOnboardingDetailsSchema.ts
  apps/scoutgame/lib/users/saveTermsOfServiceAction.ts
  apps/scoutgame/lib/users/termsOfServiceSchema.ts
  apps/scoutgame/lib/utils/generateRandomAvatar.ts
  apps/scoutgame/lib/utils/generateRandomName.ts
  apps/scoutgamecron/src/scripts/createBuilder.ts
  apps/scoutgamecron/src/scripts/createBuilders.ts
  apps/scoutgamecron/src/scripts/createScouts.ts
  apps/scoutgamecron/src/scripts/seeder/generateBuilder.ts
  apps/scoutgamecron/src/scripts/seeder/generateScout.ts
  packages/farcaster/src/getFarcasterUsersByAddresses.ts
  packages/scoutgame/src/points/detectBalanceIssues.ts
  packages/scoutgame/src/testing/database.ts
  scripts/migrations/2024_10_31_migrateFarcasterUsername.ts
Labels: :rocket: deploy-scoutgame
