Repository charmverse/app.charmverse.io, pull requests merged in 2024-11, with the labels that each got.

#4937 Updated sg anon modals
  apps/scoutgame/__e2e__/profilePage.spec.ts
  apps/scoutgame/components/common/ScoutButton/SignInModalMessage.tsx
  apps/scoutgame/components/common/SiteNavigation.tsx
  apps/scoutgame/public/images/profile/builder-dog.png
  apps/scoutgame/public/images/profile/purple-unicorn.png
Labels: :rocket: deploy-scoutgame

#4958 Autoplay hot builder carousel and updated hot builders query
  apps/scoutgame/components/common/Carousel/Carousel.tsx
  apps/scoutgame/lib/builders/__tests__/getTodaysHotBuilders.spec.ts
  apps/scoutgame/lib/builders/getTodaysHotBuilders.ts
Labels: :rocket: deploy-scoutgame

#4957 Scoutgame home scrollbar and fixed tabs
  apps/scoutgame/__e2e__/homePage.spec.ts
  apps/scoutgame/app/(general)/layout.tsx
  apps/scoutgame/components/[path]/PublicProfilePage.tsx
  apps/scoutgame/components/home/HomePage.tsx
  apps/scoutgame/components/home/components/HomePageTable/components/ActivityTable.tsx
  apps/scoutgame/components/home/components/HomePageTable/components/CommonTableRow.tsx
  apps/scoutgame/components/home/components/HomePageTable/components/LeaderboardTable.tsx
  apps/scoutgame/components/home/components/HomePageTable/components/TopBuildersTable.tsx
  apps/scoutgame/components/home/components/HomePageTable/components/TopScoutsTable.tsx
  apps/scoutgame/components/scout/ScoutPage.tsx
Labels: :rocket: deploy-scoutgame

#4962 search repos by name in admin
  apps/scoutgameadmin/components/repos/ReposDashboard.tsx
  apps/scoutgameadmin/components/repos/components/RepoActions/DeleteRepoMenuItem.tsx
  apps/scoutgameadmin/components/repos/components/RepoActions/RepoActionButton.tsx
  apps/scoutgameadmin/components/users/UsersDashboard.tsx
  apps/scoutgameadmin/components/users/components/AddUserButton/AddUserButton.tsx
  apps/scoutgameadmin/components/users/components/AddUserButton/AddUserModal.tsx
  apps/scoutgameadmin/components/users/components/UserActions/AddBuilderModal.tsx
  apps/scoutgameadmin/components/users/components/UserActions/UserActionButton.tsx
  apps/scoutgameadmin/components/users/components/UserActions/ViewTransactionsModal.tsx
  apps/scoutgameadmin/lib/actions/revalidatePathAction.ts
  apps/scoutgameadmin/lib/repos/getRepos.ts
Labels: :rocket: deploy-scoutgameadmin

#4968 Partners: Update Celo and add Optimism
  apps/scoutgame/app/(general)/info/partner-rewards/optimism/page.tsx
  apps/scoutgame/components/common/List.tsx
  apps/scoutgame/components/info/InfoPage.tsx
  apps/scoutgame/components/info/components/SidebarInfo.tsx
  apps/scoutgame/components/info/dpa/DataProcessingPage.tsx
  apps/scoutgame/components/info/pages/BuildersPage.tsx
  apps/scoutgame/components/info/pages/PartnerRewardsPage.tsx
  apps/scoutgame/components/info/pages/ScoutsPage.tsx
  apps/scoutgame/components/info/pages/SpamPolicyPage.tsx
  apps/scoutgame/components/info/partner-rewards/CeloPage.tsx
  apps/scoutgame/components/info/partner-rewards/Game7Page.tsx
  apps/scoutgame/components/info/partner-rewards/LitProtocolPage.tsx
  apps/scoutgame/components/info/partner-rewards/MoxiePage.tsx
  apps/scoutgame/components/info/partner-rewards/OptimismPage.tsx
  apps/scoutgame/components/info/partner-rewards/OptimismSupersimPage.tsx
  apps/scoutgame/components/info/privacy-policy/PrivacyPolicyPage.tsx
  apps/scoutgame/components/info/terms/TermsPage.tsx
  apps/scoutgame/public/images/info/rewards-partner-optimism
Labels: :rocket: deploy-scoutgame

#4961 Scoutgame telegram quest and claim page
  apps/scoutgame/components/common/Header/Header.tsx
  apps/scoutgame/components/login/LaunchDate.tsx
  apps/scoutgame/theme/colors.ts
  apps/scoutgame/theme/theme.tsx
  apps/scoutgame/tsconfig.json
  apps/scoutgamecron/src/scripts/deleteBuilderAndRedistributePoints.ts
  apps/scoutgamecron/src/scripts/issuePoints.ts
  apps/scoutgametelegram/app/friends/page.tsx
  apps/scoutgametelegram/app/quests/page.tsx
  apps/scoutgametelegram/components/quests/QuestsPage.tsx
  apps/scoutgametelegram/components/quests/components/DailyClaimGallery/DailyClaimCard.tsx
  apps/scoutgametelegram/components/quests/components/DailyClaimGallery/DailyClaimGallery.tsx
  apps/scoutgametelegram/components/quests/components/DailyClaimGallery/DailyClaimGift.tsx
  apps/scoutgametelegram/components/quests/components/DailyClaimGallery/NextClaimCountdown.tsx
  apps/scoutgametelegram/components/quests/components/QuestsList/QuestCard.tsx
  apps/scoutgametelegram/components/quests/components/QuestsList/QuestsList.tsx
  apps/scoutgametelegram/hooks/useInitTelegramData.ts
  apps/scoutgametelegram/lib/actions/actionClient.ts
  apps/scoutgametelegram/lib/claims/__tests__/claimDailyReward.spec.ts
  apps/scoutgametelegram/lib/claims/__tests__/getDailyClaims.spec.ts
  apps/scoutgametelegram/lib/claims/claimDailyReward.ts
  apps/scoutgametelegram/lib/claims/claimDailyRewardAction.ts
  apps/scoutgametelegram/lib/claims/claimDailyRewardSchema.ts
  apps/scoutgametelegram/lib/claims/getDailyClaims.ts
  apps/scoutgametelegram/lib/quests/__tests__/completeQuest.spec.ts
  apps/scoutgametelegram/lib/quests/completeQuest.ts
  apps/scoutgametelegram/lib/quests/completeQuestAction.ts
  apps/scoutgametelegram/lib/quests/getQuests.tsx
  apps/scoutgametelegram/middleware.ts
  apps/scoutgametelegram/public/images/friends-icon.svg
  apps/scoutgametelegram/public/images/scout-game-profile-icon.png
  apps/scoutgametelegram/theme/colors.ts
  apps/scoutgametelegram/theme/theme.tsx
  package.json
  packages/scoutgame/src/builderNfts/mintNFT.ts
  packages/scoutgame/src/points/__tests__/sendPoints.spec.ts
  packages/scoutgame/src/points/builderEvents/sendPointsForDailyClaim.ts
  packages/scoutgame/src/points/builderEvents/sendPointsForDailyClaimStreak.ts
  packages/scoutgame/src/points/builderEvents/sendPointsForMiscEvent.ts
  packages/scoutgame/src/points/builderEvents/sendPointsForSocialQuest.ts
  packages/scoutgame/src/points/sendPoints.ts
  packages/scoutgame/src/testing/database.ts
  packages/scoutgame/src/users/findOrCreateUser.ts
  packages/utils/package.json
  packages/utils/src/dates.ts
  public/mockServiceWorker.js
Labels: work-in-progress

#4970 Add info cards to home carousel
  apps/scoutgame/__e2e__/infoPage.spec.ts
  apps/scoutgame/__e2e__/po/HomePage.po.ts
  apps/scoutgame/__e2e__/po/InfoPage.po.ts
  apps/scoutgame/components/common/Card/BuilderCard/BuilderCardNftDisplay.tsx
  apps/scoutgame/components/home/HomePage.tsx
  apps/scoutgame/components/home/components/BuildersCarousel/BuildersCarousel.tsx
  apps/scoutgame/components/home/components/TodaysHotBuildersCarousel/AdCard.tsx
  apps/scoutgame/components/home/components/TodaysHotBuildersCarousel/BuildersCarousel.tsx
  apps/scoutgame/components/home/components/TodaysHotBuildersCarousel/TodaysHotBuildersCarousel.tsx
  apps/scoutgame/public/images/home/moxie-fan-reward-ad.png
  apps/scoutgame/public/images/home/op-new-scout-ad.png
  apps/scoutgame/theme/theme.tsx
Labels: :rocket: deploy-scoutgame

#4981 remove domain query prefix for custom domains
  __e2e__/po/databasePage.po.ts
  components/common/DatabaseEditor/components/__snapshots__/centerPanel.spec.tsx.snap
  components/common/DatabaseEditor/components/kanban/__snapshots__/kanban.spec.tsx.snap
  components/common/DatabaseEditor/components/kanban/kanbanCard.tsx
  components/common/DatabaseEditor/components/table/__snapshots__/table.spec.tsx.snap
  components/common/DatabaseEditor/components/table/__snapshots__/tableRow.spec.tsx.snap
  components/common/DatabaseEditor/components/table/tableRow.tsx
  components/common/DatabaseEditor/components/viewHeader/viewHeader.tsx
  components/common/Link.tsx
  components/common/PageDialog/PageDialog.tsx
  components/common/PageLayout/components/Header/components/PageTitleWithBreadcrumbs.tsx
  components/common/PageLayout/components/Sidebar/components/PageNavigation/PageNavigation.tsx
  components/common/PageLayout/components/Sidebar/components/PageNavigation/components/TreeNode.tsx
  lib/utils/__tests__/browser.spec.ts
Labels: :rocket: deploy

#4994 Add New scouts table to home page
  apps/scoutgame/components/home/components/HomePageTable/HomePageTable.tsx
  apps/scoutgame/components/home/components/HomePageTable/components/HomeTabsMenu.tsx
  apps/scoutgame/components/home/components/HomePageTable/components/LeaderboardTable.tsx
  apps/scoutgame/components/home/components/HomePageTable/components/NewScoutsTable.tsx
  apps/scoutgame/components/home/components/HomePageTable/components/TopScoutsTable.tsx
  apps/scoutgame/lib/scouts/getNewScouts.ts
  apps/scoutgamecron/src/tasks/processBuilderActivity/recordCommit.ts
  apps/scoutgamecron/src/tasks/processBuilderActivity/recordMergedPullRequest.ts
  packages/scoutgame/src/dates.ts
Labels: :rocket: deploy-scoutgame

#5000 fix scoutgame production build
  apps/scoutgamecron/esbuild.config.ts
  packages/scoutgame/src/builderNfts/artwork/generateNftImage.tsx
Labels: :rocket: deploy-scoutgamecron

#4990 Prevent author editing proposal once it succeeds
  .github/workflows/deploy_webapp.yml
  __e2e__/po/formField.po.ts
  __e2e__/proposals/proposalPassedReadonly.spec.ts
  components/[pageId]/DocumentPage/DocumentPage.tsx
  components/proposals/ProposalPage/components/ProposalProperties/components/ProposalRewards/AttachRewardButton.tsx
  lib/proposals/getProposalTemplate.ts
  pages/api/proposals/[id]/index.ts
  testing/mocks/proposal.ts
Labels: :rocket: deploy

#5020 fix sg admin deploy
  .github/actions/build_docker_image/action.yml
  apps/scoutgame/components/home/components/HomePageTable/components/TopScoutsTable.tsx
  apps/scoutgameadmin/components/repos/components/AddRepoButton/AddRepoModal.tsx
Labels: :rocket: deploy-scoutgame, :rocket: deploy-scoutgameadmin

#5024 update URL for twitter
  apps/sunnyawards/__e2e__/createProject.spec.ts
  apps/sunnyawards/__e2e__/viewProject.spec.ts
  apps/sunnyawards/components/projects/[id]/components/ProjectDetails.tsx
  apps/sunnyawards/components/projects/[id]/share/components/TwitterShareButton.tsx
  apps/sunnyawards/lib/projects/schema.ts
  components/common/CharmEditor/components/tweet/TweetNodeView.tsx
  components/common/CharmEditor/components/tweet/tweetSpec.ts
  components/common/ProjectForm/components/Optimism/OptimismProjectDisplay.tsx
  components/common/WorkflowSidebar/components/SocialShareLinksStep/SocialShareLink.tsx
  components/login/components/Footer.tsx
  components/members/components/MemberDirectoryTableView.tsx
  components/members/components/MemberProfile/components/ProfileWidgets/components/LensProfileWidget.tsx
  components/members/components/__tests__/MemberDirectoryGalleryView.spec.tsx
  components/members/hooks/__tests__/useRequiredMemberProperties.spec.ts
  components/settings/profile/components/SocialInputs.tsx
  lib/credentials/__tests__/mapProjectToGitcoin.spec.ts
  lib/credentials/__tests__/mapProjectToOptimism.spec.ts
  lib/mailer/emails/templates/components/Footer.tsx
  lib/users/__tests__/createUser.spec.ts
  lib/utils/__tests__/strings.spec.ts
  packages/scoutgame-ui/src/components/claim/components/PointsClaimScreen/PointsClaimModal/PointsClaimSocialShare.tsx
  scripts/migrations/2024_04_05_generateOpGrantsSpaces.ts
  scripts/optimism/getProjects.ts
  scripts/optimism/getRound3Projects.ts
  testing/mocks/spaceMember.ts
Labels: :rocket: deploy

#5033 dont fail login/signup if call to neynar fails
  apps/scoutgame/app/(general)/points-claim/[path]/page.tsx
  apps/scoutgame/app/(general)/u/[path]/page.tsx
  apps/scoutgame/lib/blockchain/findOrCreateWalletUser.ts
  apps/scoutgametelegram/app/(general)/u/[path]/page.tsx
  packages/scoutgame/src/users/__tests__/findOrCreateFarcasterUser.spec.ts
  packages/scoutgame/src/users/findOrCreateFarcasterUser.ts
  packages/scoutgame/src/users/generateRandomName.ts
  packages/scoutgame/src/users/getUserByPath.ts
  packages/scoutgame/src/users/getUserByPathCached.ts
Labels: work-in-progress

#5037 fix version of docker build
  .github/actions/build_docker_image/action.yml
Labels: :rocket: deploy-scoutgame

#5038 Statically set the Sha length in CI to avoid breakages from updates
  .github/actions/build_docker_image/action.yml
  .github/actions/deploy_production/action.yml
Labels: :rocket: deploy-scoutgameadmin

#5044 Allow un-suspending builder from admin
  .github/workflows/deploy_scoutgameadmin.yml
  apps/scoutgameadmin/app/api/github/delete-strike/route.ts
  apps/scoutgameadmin/app/api/github/user-stats/route.ts
  apps/scoutgameadmin/app/api/users/route.ts
  apps/scoutgameadmin/components/users/UsersDashboard.tsx
  apps/scoutgameadmin/components/users/components/UserActions/AddBuilderModal.tsx
  apps/scoutgameadmin/components/users/components/UserActions/BuilderReviewModal.tsx
  apps/scoutgameadmin/components/users/components/UserActions/UserActionButton.tsx
  apps/scoutgameadmin/hooks/api/github.ts
  apps/scoutgameadmin/hooks/api/users.ts
  apps/scoutgameadmin/jest.config.ts
  apps/scoutgameadmin/lib/users/__tests__/getUsers.spec.ts
  apps/scoutgameadmin/lib/users/getUsers.ts
  apps/scoutgameadmin/package.json
  package.json
  packages/scoutgame/src/testing/database.ts
  packages/scoutgame/src/testing/jest.teardown.ts
  packages/utils/src/strings.ts
Labels: :rocket: deploy-scoutgameadmin

#5048 SG - View weeks in leaderboard table
  apps/scoutgame/app/(general)/home/page.tsx
  apps/scoutgame/components/home/HomePage.tsx
  apps/scoutgame/components/home/components/HomePageTable/HomePageTable.tsx
  apps/scoutgame/components/home/components/HomePageTable/components/LeaderboardTable.tsx
  apps/scoutgame/components/home/components/HomePageTable/components/WeekTableHead.tsx
  apps/scoutgame/lib/builders/getLeaderboard.ts
  packages/scoutgame/src/__tests__/dates.spec.ts
  packages/scoutgame/src/dates.ts
Labels: :rocket: deploy-scoutgame

#5066 save wallets to useer account when purchaing an NFT
  apps/scoutgame/__e2e__/UserPage/buyNft.spec.ts
  apps/scoutgame/__e2e__/buyNft.spec.ts
  apps/scoutgame/__e2e__/po/Utilities.po.ts
  apps/scoutgame/app/api/session/wallet/route.ts
  packages/scoutgame-ui/src/components/common/NFTPurchaseDialog/components/NFTPurchaseForm.tsx
  packages/scoutgame-ui/src/hooks/api/session.ts
Labels: :rocket: deploy-scoutgame

#5052 Rubric score persistance
  components/common/DateTimePicker.tsx
  components/common/comments/CommentForm.tsx
  components/common/form/hooks/usePersistantFormValues.ts
  components/proposals/ProposalPage/components/ProposalEvaluations/components/Review/components/RubricEvaluation/components/RubricAnswersForm.tsx
Labels: :rocket: deploy

#5075 pass in the week to show for claims image
  apps/scoutgame/app/(general)/points-claim/[path]/page.tsx
  packages/mixpanel/src/utils.ts
  packages/scoutgame-ui/src/actions/claimPointsAction.ts
  packages/scoutgame-ui/src/actions/createUserClaimScreen.tsx
  packages/scoutgame-ui/src/components/claim/components/PointsClaimScreen/PointsClaimModal/PointsClaimSocialShare.tsx
  packages/scoutgame-ui/src/components/claim/components/PointsClaimScreen/PointsClaimScreen.tsx
  packages/scoutgame/src/points/getClaimablePointsWithSources.ts
Labels: :rocket: deploy-scoutgame

#5071 Home page for logged out user
  apps/scoutgame/__e2e__/homePage.spec.ts
  apps/scoutgame/__e2e__/infoPage.spec.ts
  apps/scoutgame/__e2e__/loginPage.spec.ts
  apps/scoutgame/__e2e__/onboarding.spec.ts
  apps/scoutgame/__e2e__/po/HomePage.po.ts
  apps/scoutgame/app/(general)/home/page.tsx
  apps/scoutgame/components/common/Header/Header.tsx
  apps/scoutgame/components/common/SiteNavigation.tsx
  apps/scoutgame/components/home/LandingPage.tsx
  apps/scoutgame/public/images/home/card-diagram-mobile.png
  apps/scoutgame/public/images/home/card-diagram.png
  apps/scoutgame/public/images/home/card-icon.svg
  apps/scoutgame/public/images/home/cool-dev.png
  apps/scoutgame/public/images/home/landing-bg.png
  apps/scoutgame/public/images/home/quests-icon.svg
  apps/scoutgame/public/images/home/scout-icon.svg
  apps/scoutgame/public/images/home/starry-bg.png
  apps/scoutgame/public/images/home/trophy-icon.svg
Labels: :rocket: deploy-scoutgame

#5070 Mobile footer
  apps/scoutgametelegram/components/common/SiteNavigation.tsx
  apps/scoutgametelegram/components/layout/StickyFooter.tsx
  packages/scoutgame/src/session/getIronOptions.ts
Labels: work-in-progress, :rocket: deploy-scoutgametelegram

#5078 Add Share button to profile page
  apps/scoutgame/components/home/LandingPage.tsx
  packages/scoutgame-ui/src/components/claim/components/PointsClaimScreen/PointsClaimModal/PointsClaimSocialShare.tsx
  packages/scoutgame-ui/src/components/common/Profile/EditableUserProfile/EditableName.tsx
  packages/scoutgame-ui/src/components/common/Profile/EditableUserProfile/EditableUserProfile.tsx
  packages/scoutgame-ui/src/components/common/Profile/ProfileLinks.tsx
  packages/scoutgame-ui/src/components/common/Profile/ShareProfile.tsx
  packages/scoutgame-ui/src/components/common/Profile/UserProfile.tsx
Labels: :rocket: deploy-scoutgame
