Repository charmverse/app.charmverse.io, pull requests merged in 2024-09, with the labels that each got.

#4527 Proposals table reviewers tab improvements
  components/proposals/ProposalsPage.tsx
  components/proposals/components/ProposalsReviewersTable/ProposalsReviewersTable.tsx
  components/proposals/components/ProposalsReviewersTable/ReviewerProposalsTable.tsx
  components/proposals/components/UserProposalsTables/ActionableProposalsTable.tsx
  components/proposals/components/UserProposalsTables/ProposalsTable.tsx
  components/proposals/components/UserProposalsTables/UserProposalsTables.tsx
  lib/proposals/__tests__/getProposalsReviewers.spec.ts
  lib/proposals/getProposalsReviewers.ts
  lib/proposals/getUserProposals.ts
  pages/api/spaces/[id]/proposals/reviewers/export.ts
Labels: :rocket: deploy

#4533 Show published proposal rewards in modal view
  components/proposals/ProposalPage/components/ProposalProperties/components/ProposalRewards/ProposalRewards.tsx
  components/proposals/ProposalPage/components/ProposalProperties/components/ProposalRewards/ProposalRewardsTable.tsx
  components/rewards/RewardsPage.tsx
Labels: :rocket: deploy

#4539 Allow editing proposals reviewer appealers by admins
  components/proposals/ProposalPage/components/ProposalEvaluations/components/Settings/components/EvaluationStepSettings.tsx
Labels: :rocket: deploy

#4538 Update to proposal tabs
  __e2e__/po/proposalsList.po.ts
  __e2e__/proposals/viewProposal.spec.ts
  components/proposals/ProposalsPage.tsx
  components/proposals/components/UserProposalsTables/UserProposalsTables.tsx
  lib/proposals/__tests__/getUserProposals.spec.ts
  lib/proposals/getUserProposals.ts
Labels: :rocket: deploy

#4540 Farcaster primary member identity option
  components/_app/components/UserOnboardingDialog.tsx
  components/members/hooks/useRequiredMemberProperties.ts
  components/settings/space/components/PrimaryMemberIdentity.tsx
Labels: :rocket: deploy

#4552 test coming soon staging
  .github/workflows/deploy_comingsoon.yml
  .github/workflows/deploy_scoutgame.yml
Labels: :rocket: deploy-comingsoon

#4547 Waitlist pages
  apps/waitlist/app/builders/page.tsx
  apps/waitlist/app/frame/[fid]/page.tsx
  apps/waitlist/app/layout.tsx
  apps/waitlist/app/page.tsx
  apps/waitlist/app/score/page.tsx
  apps/waitlist/components/builder/BuilderPage.tsx
  apps/waitlist/components/common/Animations/FadeIn.tsx
  apps/waitlist/components/common/Counter.tsx
  apps/waitlist/components/common/DotsDivider.tsx
  apps/waitlist/components/common/JoinWaitlistButton.tsx
  apps/waitlist/components/common/LearnMore.tsx
  apps/waitlist/components/common/ScrollButton.tsx
  apps/waitlist/components/common/WarpcastLogin/WarpcastLogin.tsx
  apps/waitlist/components/github/JoinGithubButton.tsx
  apps/waitlist/components/home/HomePage.tsx
  apps/waitlist/components/score/ScorePage.tsx
  apps/waitlist/components/score/ScoreTier.tsx
  apps/waitlist/components/score/ScoresProgressBar.tsx
  apps/waitlist/lib/actionClient.ts
  apps/waitlist/lib/scoring/calculateUserPosition.ts
  apps/waitlist/lib/scoring/constants.ts
  apps/waitlist/lib/session/config.ts
  apps/waitlist/lib/session/loginAction.ts
  apps/waitlist/lib/session/logoutAction.ts
  apps/waitlist/lib/waitlistSlots/joinWaitlistAction.ts
  apps/waitlist/middleware.ts
  apps/waitlist/public/images/github-logo.png
  apps/waitlist/public/images/levels/common-badge-text.png
  apps/waitlist/public/images/levels/common-badge.png
  apps/waitlist/public/images/levels/common.png
  apps/waitlist/public/images/levels/epic-badge-text.png
  apps/waitlist/public/images/levels/epic-badge.png
  apps/waitlist/public/images/levels/epic.png
  apps/waitlist/public/images/levels/legendary-badge-text.png
  apps/waitlist/public/images/levels/legendary-badge.png
  apps/waitlist/public/images/levels/legendary.png
  apps/waitlist/public/images/levels/mythic-badge-text.png
  apps/waitlist/public/images/levels/mythic-badge.png
  apps/waitlist/public/images/levels/mythic.png
  apps/waitlist/public/images/levels/rare-badge-text.png
  apps/waitlist/public/images/levels/rare-badge.png
  apps/waitlist/public/images/levels/rare.png
  apps/waitlist/public/images/scout-game-logo-square.png
  apps/waitlist/public/images/scout-game-logo.png
  apps/waitlist/theme/colors.ts
  apps/waitlist/theme/theme.tsx
Labels: :rocket: deploy-waitlist

#4555 clean up for My Work page
  components/common/DatabaseEditor/components/table/tableRow.scss
  components/proposals/components/UserProposalsTables/ActionableProposalsTable.tsx
  components/proposals/components/UserProposalsTables/ProposalsTable.tsx
Labels: :rocket: deploy

#4558 Add levelling frame, refactor frames, fix redirects
  apps/waitlist/app/api/connect-github/callback/route.ts
  apps/waitlist/app/api/frame/[fid]/level-changed/route.ts
  apps/waitlist/app/api/frame/[fid]/route.ts
  apps/waitlist/app/api/frame/[fid]/waitlist/route.ts
  apps/waitlist/app/api/frame/assets/current-position/route.tsx
  apps/waitlist/app/frame/[fid]/page.tsx
  apps/waitlist/components/frame/JoinWaitlistFrame.tsx
  apps/waitlist/components/frame/LevelChangedFrame.tsx
  apps/waitlist/components/frame/WaitlistCurrentScoreFrame.tsx
  apps/waitlist/components/frame/WaitlistJoinedFrame.tsx
  apps/waitlist/components/frame/joinWaitlist/JoinWaitlistHome.tsx
  apps/waitlist/components/frame/joinWaitlist/getWaitlistPostbackUrl.ts
  apps/waitlist/lib/frame/actionButtons.ts
  apps/waitlist/lib/scoring/notifyNewScore.ts
  apps/waitlist/lib/waitlistSlots/joinWaitlist.ts
  apps/waitlist/middleware.ts
  scripts/query.ts
Labels: :rocket: deploy-waitlist

#4562 use single instance for cron
  .cdk/ProductionStack.ts
  .cdk/StagingStack.ts
  .cdk/WebappStagingStack.ts
  .cdk/bin/app.ts
  .cdk/config.ts
  .github/workflows/deploy_ceramic.yml
  .github/workflows/deploy_comingsoon.yml
  .github/workflows/deploy_cron.yml
  .github/workflows/deploy_farcaster.yml
  .github/workflows/deploy_scoutgame.yml
  .github/workflows/deploy_sunnyawards.yml
  .github/workflows/deploy_waitlist.yml
  .github/workflows/deploy_websockets.yml
  scripts/query.ts
Labels: :rocket: deploy-cron

#4563 Simplify config for cdk
  .cdk/ProductionStack.ts
  .cdk/StagingStack.ts
  .cdk/bin/app.ts
  .cdk/config.ts
  .github/actions/build/action.yml
  docker-compose.yml
Labels: :rocket: deploy

#4564 Token gate comment
  .storybook/preview.tsx
  apps/farcaster/components/product-updates/components/CharmTextField.tsx
  apps/farcaster/components/product-updates/components/NewProductUpdateForm.tsx
  components/[pageId]/DocumentPage/DocumentPage.tsx
  components/common/SpaceAccessGate/SpaceAccessGate.tsx
  components/common/SpaceAccessGate/SpaceAccessGateWithSearch.tsx
  components/common/SpaceAccessGate/components/GateOption.tsx
  components/common/SpaceAccessGate/components/TokenGate/TokenGate.tsx
  components/common/SpaceAccessGate/components/TokenGate/TokenGateContent.tsx
  components/settings/invites/components/InviteLinks/components/InviteIntro.tsx
  components/settings/invites/components/TokenGates/components/TokenGateMessageButton.tsx
  components/settings/invites/components/TokenGates/components/TokenGatesTable.tsx
  docker-compose.yml
  lib/spaces/updateSpace.ts
  package.json
  packages/charmeditor/src/extensions/link/linkPlugins.ts
  packages/charmeditor/src/extensions/link/linkSpec.ts
  packages/charmeditor/src/extensions/listItem/czi-indent.module.scss
  packages/charmeditor/src/extensions/listItem/czi-indent.scss
  packages/charmeditor/src/extensions/listItem/czi-list.module.scss
  packages/charmeditor/src/extensions/listItem/czi-list.scss
  packages/charmeditor/src/extensions/listItem/czi-vars.module.scss
  packages/charmeditor/src/extensions/listItem/toggleList.ts
  packages/charmeditor/src/extensions/readOnly/readOnly.ts
  packages/charmeditor/src/nodeNames.ts
  packages/charmeditor/src/plugins.ts
  packages/charmeditor/src/schema.ts
  packages/charmeditor/src/types.d.ts
  packages/charmeditor/src/ui/components/Editor.tsx
  packages/charmeditor/src/ui/components/OutlinedTextField.tsx
  packages/charmeditor/src/ui/components/Readonly.tsx
  packages/charmeditor/src/ui/editor.module.scss
  packages/charmeditor/src/ui/editor.scss
  packages/charmeditor/src/ui/prosemirror.css
  packages/charmeditor/src/ui/prosemirror.module.scss
  packages/charmeditor/src/utils/insertNode.ts
  packages/charmeditor/src/utils/jsUtils.ts
  pages/_app.tsx
  pages/join.tsx
  theme/@bangle.dev/styles.scss
Labels: :rocket: deploy, :rocket: deploy-websockets

#4573 Make links clickable in read-only text inputs
  __e2e__/po/formField.po.ts
  __e2e__/po/settings/projectSettings.po.ts
  __e2e__/proposals/structuredProposalWithProject.spec.ts
  components/common/form/fields/FieldTypeRenderer.tsx
  components/common/form/fields/TextInputField.tsx
  packages/charmeditor/src/ui/prosemirror.module.scss
  scripts/query.ts
  theme/@bangle.dev/styles.scss
Labels: :rocket: deploy

#4581 Setup waitlist frame events
  @connect-shared/lib/farcaster/uuidFromFid.ts
  apps/scoutgame/lib/farcaster/findOrCreateFarcasterUser.ts
  apps/scoutgame/lib/session/loginWithFarcasterAction.ts
  apps/waitlist/app/api/frame/[fid]/level-changed/route.ts
  apps/waitlist/app/api/frame/[fid]/waitlist/route.ts
  apps/waitlist/components/common/GlobalComponent.tsx
  apps/waitlist/components/frame/LevelChangedFrame.tsx
  apps/waitlist/hooks/usePageView.tsx
  apps/waitlist/hooks/useTrackEvent.tsx
  apps/waitlist/lib/mixpanel/trackEventAction.ts
  apps/waitlist/lib/mixpanel/trackEventActionSchema.ts
  apps/waitlist/lib/mixpanel/trackMixpanelEvent.ts
  apps/waitlist/lib/waitlistSlots/joinWaitlist.ts
  apps/waitlist/middleware.ts
  lib/metrics/mixpanel/utils.ts
Labels: :rocket: deploy-waitlist

#4591 fix blue links in disabled input
  components/common/form/fields/TextInputField.tsx
Labels: :rocket: deploy

#4586 Fix/adjust layout of coming soon home page
  apps/comingsoon/components/home/ComingSoon.tsx
Labels: :rocket: deploy-comingsoon

#4596 bring back health check to cron
  apps/scoutgamecron/src/__tests__/healthCheck.spec.ts
  apps/scoutgamecron/src/worker.ts
Labels: :rocket: deploy-scoutgamecron

#4595 use correct domains for sign-in with farcaster
  apps/scoutgame/lib/farcaster/config.ts
  apps/waitlist/components/common/WarpcastLogin/WarpcastLogin.tsx
Labels: :rocket: deploy-waitlist

#4606 Sunny/wallet login
  @connect-shared/components/common/Avatar.tsx
  @connect-shared/lib/attestations/storeProjectMetadataAndPublishOptimismAttestation.ts
  @connect-shared/lib/attestations/storeProjectMetadataAndPublishToGitcoin.ts
  apps/scoutgame/lib/session/loginWithWalletAction.ts
  apps/scoutgame/theme/styles.scss
  apps/sunnyawards/__e2e__/createProject.spec.ts
  apps/sunnyawards/app/layout.tsx
  apps/sunnyawards/components/common/FarcasterCard.tsx
  apps/sunnyawards/components/common/WalletLogin/WagmiProvider.tsx
  apps/sunnyawards/components/common/WalletLogin/WalletLogin.tsx
  apps/sunnyawards/components/common/WalletLogin/WalletProvider.tsx
  apps/sunnyawards/components/common/WarpcastLogin/WarpcastLogin.tsx
  apps/sunnyawards/components/home/HomePage.tsx
  apps/sunnyawards/components/profile/ProfilePage.tsx
  apps/sunnyawards/components/profile/components/ProjectsList.tsx
  apps/sunnyawards/components/projects/[id]/ProjectDetailsPage.tsx
  apps/sunnyawards/components/projects/components/ProjectForm.tsx
  apps/sunnyawards/components/projects/new/NewProjectPage.tsx
  apps/sunnyawards/components/welcome/WelcomePage.tsx
  apps/sunnyawards/lib/blockchain/config.ts
  apps/sunnyawards/lib/blockchain/findOrCreateWalletUser.ts
  apps/sunnyawards/lib/blockchain/verifyWallet.ts
  apps/sunnyawards/lib/blockchain/wagmiConfig.ts
  apps/sunnyawards/lib/projects/createProjectAction.ts
  apps/sunnyawards/lib/session/createOrGetUserWithWallet.ts
  apps/sunnyawards/lib/session/getUserWalletProfile.ts
  apps/sunnyawards/lib/session/loginWithWalletAction.ts
  apps/sunnyawards/lib/users/findOrCreateUser.ts
  apps/sunnyawards/middleware.ts
  apps/sunnyawards/theme/styles.scss
  lib/blockchain/signAndVerify.ts
  lib/credentials/attestOnchain.ts
  lib/middleware/requireWalletSignature.ts
Labels: :rocket: deploy-sunnyawards

#4604 use CDN for static assets in waitlist and scout game
  .ebextensions/waitlist/00_env_vars.config
  .ebstalk.apps.env/scoutgame.env
  .ebstalk.apps.env/waitlist.env
  .github/workflows/deploy_scoutgame.yml
  .github/workflows/deploy_sunnyawards.yml
  .github/workflows/deploy_waitlist.yml
  apps/comingsoon/app/sw.ts
  apps/comingsoon/tsconfig.json
  apps/farcaster/next.config.js
  apps/farcaster/tsconfig.json
  apps/scoutgame/Dockerfile
  apps/scoutgame/next.config.mjs
  apps/sunnyawards/next.config.js
  apps/waitlist/Dockerfile
  apps/waitlist/next.config.js
  apps/waitlist/tsconfig.json
Labels: :rocket: deploy-scoutgame, :rocket: deploy-waitlist

#4608 update next to use CDN at runtime too
  apps/scoutgame/next.config.mjs
  apps/waitlist/next.config.js
Labels: :rocket: deploy-scoutgame, :rocket: deploy-waitlist

#4626 show hidden identity instead of anonymous name
  components/common/UserDisplay.tsx
  components/proposals/ProposalPage/components/ProposalEvaluations/components/Review/components/PassFailEvaluation.tsx
  components/proposals/ProposalPage/components/ProposalEvaluations/components/Review/components/RubricEvaluation/components/RubricResults.tsx
Labels: :rocket: deploy

#4628 Create seed data for scoutgame and show activity tab
  apps/scoutgame/components/common/Avatar.tsx
  apps/scoutgame/components/common/FarcasterCard.tsx
  apps/scoutgame/components/common/PageCoverHeader.tsx
  apps/scoutgame/components/common/Tabs/ActivityTable.tsx
  apps/scoutgame/components/common/Tabs/HomeTab.tsx
  apps/scoutgame/components/common/Tabs/LeaderboardTable.tsx
  apps/scoutgame/components/common/Tabs/TopBuildersTable.tsx
  apps/scoutgame/components/common/Tabs/TopScoutsTable.tsx
  apps/scoutgame/lib/builders/getAllEvents.ts
  apps/scoutgame/lib/builders/getLeaderboard.ts
  apps/scoutgamecron/package.json
  apps/scoutgamecron/src/datadog.ts
  apps/scoutgamecron/src/lib/testing/numbers.ts
  apps/scoutgamecron/src/main.ts
  apps/scoutgamecron/src/scripts/generateSeedData.ts
  apps/scoutgamecron/src/scripts/seeder/generateBuilderEvents.ts
  apps/scoutgamecron/src/scripts/seeder/generateGithubRepos.ts
  apps/scoutgamecron/src/scripts/seeder/generatePullRequest.ts
  apps/scoutgamecron/src/scripts/seeder/generateScout.ts
  apps/scoutgamecron/src/scripts/seeder/generateSeedData.ts
  apps/scoutgamecron/src/tasks/processPullRequests/__tests__/processClosedPullRequest.spec.ts
  apps/scoutgamecron/src/tasks/processPullRequests/__tests__/processMergedPullRequest.spec.ts
  apps/scoutgamecron/src/tasks/processPullRequests/getClosedPullRequest.ts
  apps/scoutgamecron/src/tasks/processPullRequests/index.ts
  apps/scoutgamecron/src/tasks/processPullRequests/processClosedPullRequest.ts
  apps/scoutgamecron/src/tasks/processPullRequests/processMergedPullRequest.ts
  apps/scoutgamecron/src/testing/numbers.ts
  apps/scoutgamecron/tsconfig.json
  package.json
  packages/scoutgame/src/getStrikesForSeason.ts
  packages/scoutgame/src/sendStrikeGithubComment.ts
  packages/scoutgame/src/strikeBuilder.ts
  packages/scoutgame/src/unbanBuilderForSeason.ts
  scripts/deleteAllEnvironments.ts
  scripts/query.ts
Labels: :rocket: deploy-scoutgame

#4630 Fix production / add Datadog api key to sg cron environment
  .ebstalk.apps.env/scoutgamecron.env
  .ebstalk.apps.env/webapp.env
  apps/scoutgamecron/esbuild.config.ts
  apps/scoutgamecron/package.json
  package.json
Labels: :rocket: deploy, :rocket: deploy-cron

#4631 add a more fun Not Found page
  apps/scoutgame/components/layout/NotFoundPage.tsx
  apps/scoutgame/public/images/space_binoculars.webp
  apps/scoutgame/theme/styles.scss
Labels: :rocket: deploy-scoutgame

#4641 add search and Top/Hot/New results to Scout page
  apps/scoutgame/app/(general)/scout/page.tsx
  apps/scoutgame/app/api/builders/search/route.ts
  apps/scoutgame/app/api/grants/route.ts
  apps/scoutgame/components/common/Card/BasicUserCard.tsx
  apps/scoutgame/components/common/Card/UserCard.tsx
  apps/scoutgame/components/common/Card/UserCardGrid.tsx
  apps/scoutgame/components/common/Carousel/Carousel.tsx
  apps/scoutgame/components/common/Footer/StickyFooter.tsx
  apps/scoutgame/components/common/Header/components/HeaderMenu.tsx
  apps/scoutgame/components/common/Profile/BuilderProfile.tsx
  apps/scoutgame/components/common/SiteNavigation.tsx
  apps/scoutgame/components/common/Tabs/HomeTabsMenu.tsx
  apps/scoutgame/components/common/Tabs/TabsMenu.tsx
  apps/scoutgame/components/home/HomePage.tsx
  apps/scoutgame/components/home/components/ActivityTable.tsx
  apps/scoutgame/components/home/components/HomeTab.tsx
  apps/scoutgame/components/home/components/HomeTabsMenu.tsx
  apps/scoutgame/components/home/components/LeaderboardTable.tsx
  apps/scoutgame/components/home/components/TopBuildersTable.tsx
  apps/scoutgame/components/home/components/TopScoutsTable.tsx
  apps/scoutgame/components/profile/[username]/ScoutedBuilders.tsx
  apps/scoutgame/components/scout/ScoutPage.tsx
  apps/scoutgame/components/scout/components/BuildersGrid.tsx
  apps/scoutgame/components/scout/components/BuildersGridContainer.tsx
  apps/scoutgame/components/scout/components/SearchBuildersInput.tsx
  apps/scoutgame/components/scout/components/SortOptionTabs.tsx
  apps/scoutgame/hooks/api/builders.ts
  apps/scoutgame/hooks/api/helpers.ts
  apps/scoutgame/hooks/useDebouncedValue.ts
  apps/scoutgame/hooks/useMediaScreens.ts
  apps/scoutgame/lib/builders/getSortedBuilders.ts
  apps/scoutgame/lib/builders/interfaces.ts
  apps/scoutgame/lib/builders/searchBuilders.ts
  packages/scoutgame/src/utils.ts
Labels: :rocket: deploy-scoutgame

#4643 Session cleanup: delete session if user does not exist and also Farca…
  @connect-shared/lib/session/config.ts
  @connect-shared/lib/session/logoutAction.ts
  apps/scoutgame/app/(general)/welcome/builder/page.tsx
  apps/scoutgame/app/(general)/welcome/page.tsx
  apps/scoutgame/app/api/aws/upload-token/route.ts
  apps/scoutgame/app/api/connect-github/get-link/route.ts
  apps/scoutgame/app/api/farcaster/search-by-username/route.ts
  apps/scoutgame/app/api/login-dev/route.ts
  apps/scoutgame/app/api/push-notifications/route.ts
  apps/scoutgame/app/api/session/refresh/route.ts
  apps/scoutgame/app/profile/page.tsx
  apps/scoutgame/app/welcome/how-it-works/page.tsx
  apps/scoutgame/components/common/ClientGlobals.tsx
  apps/scoutgame/hooks/api/session.ts
  apps/scoutgame/lib/actions/actionClient.ts
  apps/scoutgame/lib/pwa/savePushNotificationSubscriptionAction.ts
  apps/scoutgame/lib/session/getUserFromSession.ts
  apps/scoutgame/lib/session/loginWithFarcasterAction.ts
  apps/scoutgame/lib/session/loginWithWalletAction.ts
  apps/scoutgame/lib/session/saveSession.ts
  apps/scoutgame/lib/users/saveOnboardedAction.ts
  apps/scoutgame/lib/users/saveTermsOfServiceAction.ts
  apps/scoutgame/middleware.ts
Labels: :rocket: deploy-scoutgame

#4656 Add /info page
  .github/workflows/deploy_scoutgame.yml
  .github/workflows/deploy_scoutgamecron.yml
  apps/scoutgame/__e2e__/infoPage.spec.ts
  apps/scoutgame/__e2e__/po/InfoPage.po.ts
  apps/scoutgame/__e2e__/test.ts
  apps/scoutgame/app/(info)/info/page.tsx
  apps/scoutgame/components/info/InfoPage.tsx
  apps/scoutgame/components/info/components/ScrollButton.tsx
  apps/scoutgame/components/layout/DotsDivider.tsx
Labels: :rocket: deploy-scoutgame

#4661 Feat/builder minting
  apps/scoutgame/components/nft/ChainSelector.tsx
  apps/scoutgame/components/nft/NFTPurchase.tsx
  apps/scoutgame/lib/builderNFTs/mintNftAction.ts
  apps/scoutgame/package.json
  apps/scoutgame/public/images/crypto/arbitrum.png
  apps/scoutgame/public/images/crypto/base64.png
  apps/scoutgame/public/images/crypto/bob.png
  apps/scoutgame/public/images/crypto/coinbase.png
  apps/scoutgame/public/images/crypto/cyber64.png
  apps/scoutgame/public/images/crypto/eth-diamond-purple.png
  apps/scoutgame/public/images/crypto/ethereum-eth-logo.png
  apps/scoutgame/public/images/crypto/frax64.png
  apps/scoutgame/public/images/crypto/kroma.jpeg
  apps/scoutgame/public/images/crypto/kroma.png
  apps/scoutgame/public/images/crypto/lisk64.png
  apps/scoutgame/public/images/crypto/metal64.png
  apps/scoutgame/public/images/crypto/metamask.png
  apps/scoutgame/public/images/crypto/mint64.png
  apps/scoutgame/public/images/crypto/mode64.png
  apps/scoutgame/public/images/crypto/op64.png
  apps/scoutgame/public/images/crypto/orderly.png
  apps/scoutgame/public/images/crypto/polynomial.png
  apps/scoutgame/public/images/crypto/redstone64.png
  apps/scoutgame/public/images/crypto/swan.png
  apps/scoutgame/public/images/crypto/wallet-connect.png
  apps/scoutgame/public/images/crypto/xterio.png
  apps/scoutgame/public/images/crypto/zora64.png
  apps/scoutgamecron/src/scripts/seeder/seedWithRealCharmverseGithubData.ts
  apps/scoutgamecron/src/tasks/processPullRequests/processMergedPullRequest.ts
  connectors/chains.ts
  packages/scoutgame/src/builderNfts/__tests__/registerBuilderNFT.spec.ts
  packages/scoutgame/src/builderNfts/builderNFTSeasonOneClient.ts
  packages/scoutgame/src/builderNfts/constants.ts
  packages/scoutgame/src/builderNfts/contractClient.ts
  packages/scoutgame/src/builderNfts/getScoutGameNftAdminWallet.ts
  packages/scoutgame/src/builderNfts/nftContractApiClient.ts
  packages/scoutgame/src/builderNfts/refreshBuilderNftPrice.ts
  packages/scoutgame/src/builderNfts/registerBuilderNFT.ts
  packages/scoutgame/src/builderNfts/usdcContractApiClient.ts
Labels: :rocket: deploy-scoutgame

#4663 Update info
  apps/scoutgame/__e2e__/infoPage.spec.ts
  apps/scoutgame/__e2e__/po/GeneralPageLayout.po.ts
  apps/scoutgame/__e2e__/po/InfoPage.po.ts
  apps/scoutgame/app/(general)/(non-home)/layout.tsx
  apps/scoutgame/app/(general)/info/dpa/page.tsx
  apps/scoutgame/app/(general)/info/page.tsx
  apps/scoutgame/app/(general)/info/privacy-policy/page.tsx
  apps/scoutgame/app/(general)/info/terms/page.tsx
  apps/scoutgame/app/(general)/layout.tsx
  apps/scoutgame/app/(general)/profile/page.tsx
  apps/scoutgame/app/(general)/scout/page.tsx
  apps/scoutgame/app/(general)/u/[username]/not-found.tsx
  apps/scoutgame/app/(general)/u/[username]/page.tsx
  apps/scoutgame/app/(info)/welcome/loading.tsx
  apps/scoutgame/components/[username]/PublicProfilePage.tsx
  apps/scoutgame/components/common/DocumentPageContainer/DocumentPageContainer.tsx
  apps/scoutgame/components/common/DocumentPageContainer/components/Blockquote.tsx
  apps/scoutgame/components/common/DocumentPageContainer/components/InfoCard.tsx
  apps/scoutgame/components/common/DocumentPageContainer/components/List.tsx
  apps/scoutgame/components/common/DocumentPageContainer/components/ScrollButton.tsx
  apps/scoutgame/components/common/Footer/StickyFooter.tsx
  apps/scoutgame/components/common/Header/Header.tsx
  apps/scoutgame/components/common/Header/components/HeaderMenu.tsx
  apps/scoutgame/components/common/Hidden.tsx
  apps/scoutgame/components/common/Loading/LoadingBanner.tsx
  apps/scoutgame/components/common/Loading/LoadingCard.tsx
  apps/scoutgame/components/common/Loading/LoadingCards.tsx
  apps/scoutgame/components/common/Loading/LoadingComponent.tsx
  apps/scoutgame/components/common/Loading/LoadingGallery.tsx
  apps/scoutgame/components/common/Loading/LoadingPage.tsx
  apps/scoutgame/components/common/Loading/LoadingPaperSection.tsx
  apps/scoutgame/components/common/Loading/LoadingTable.tsx
  apps/scoutgame/components/common/SiteNavigation.tsx
  apps/scoutgame/components/common/WarpcastLogin/WarpcastLogin.tsx
  apps/scoutgame/components/home/HomePage.tsx
  apps/scoutgame/components/info/InfoPage.tsx
  apps/scoutgame/components/info/dpa/DataProcessingPage.tsx
  apps/scoutgame/components/info/privacy-policy/PrivacyPolicyPage.tsx
  apps/scoutgame/components/info/terms/TermsPage.tsx
  apps/scoutgame/components/layout/PageContainer.tsx
  apps/scoutgame/components/layout/StickyFooter.tsx
  apps/scoutgame/components/profile/ProfilePage.tsx
  apps/scoutgame/components/profile/components/ScoutProfile/ScoutProfileLoading.tsx
  apps/scoutgame/components/scout/ScoutPage.tsx
  apps/scoutgame/components/scout/components/SearchBuildersInput.tsx
  apps/scoutgame/public/images/info_banner.png
  apps/scoutgame/theme/index.d.ts
  apps/scoutgame/theme/theme.tsx
  packages/utils/package.json
  packages/utils/src/react.ts
Labels: :rocket: deploy-scoutgame

#4665 Add comment
  apps/scoutgame/components/nft/NFTPurchase.tsx
Labels: :rocket: deploy-scoutgame

#4669 attempt to fix datadog browser logs
  .github/actions/deploy_production/action.yml
  .github/workflows/deploy_scoutgame.yml
  apps/scoutgame/app/global-error.tsx
  apps/scoutgame/components/common/WalletLogin/WalletLogin.tsx
  apps/scoutgame/components/common/WarpcastLogin/WarpcastLogin.tsx
  apps/scoutgame/components/nft/NFTPurchase.tsx
  components/common/RouteGuard.tsx
  pages/[domain]/[pageId].tsx
  pages/[domain]/index.tsx
Labels: :rocket: deploy-scoutgame

#4672 fix scout buttons on home page
  apps/scoutgame/components/common/Card/BuilderCard/BuilderCard.tsx
  apps/scoutgame/components/common/ScoutButton/ScoutButton.tsx
  apps/scoutgame/components/home/components/LeaderboardTable.tsx
  apps/scoutgame/components/nft/NFTPurchase.tsx
  apps/scoutgame/components/nft/NFTPurchaseDialog.tsx
  apps/scoutgame/lib/builders/getLeaderboard.ts
Labels: :rocket: deploy-scoutgame

#4670 add rolling deploys to CDK
  .cdk/ProductionStack.ts
Labels: :rocket: deploy-farcaster, :rocket: deploy-cron

#4680 clean up styles for home page table
  apps/scoutgame/components/common/Card/BuilderCard/BuilderCardStats.tsx
  apps/scoutgame/components/common/Hidden.tsx
  apps/scoutgame/components/common/Icons.tsx
  apps/scoutgame/components/common/Tabs/TabsMenu.tsx
  apps/scoutgame/components/home/HomePage.tsx
  apps/scoutgame/components/home/components/HomePageTable/HomePageTable.tsx
  apps/scoutgame/components/home/components/HomePageTable/components/ActivityTable.tsx
  apps/scoutgame/components/home/components/HomePageTable/components/HomeTabsMenu.tsx
  apps/scoutgame/components/home/components/HomePageTable/components/LeaderboardTable.tsx
  apps/scoutgame/components/home/components/HomePageTable/components/TableCellText.tsx
  apps/scoutgame/components/home/components/HomePageTable/components/TopBuildersTable.tsx
  apps/scoutgame/components/home/components/HomePageTable/components/TopScoutsTable.tsx
  apps/scoutgame/components/profile/components/BuilderProfile/BuilderActivitiesList.tsx
Labels: :rocket: deploy-scoutgame

#4684 add rainbowkit to wallet connect
  .ebstalk.apps.env/scoutgame.env
  apps/comingsoon/public/.well-known/walletconnect.txt
  apps/scoutgame/components/common/NFTPurchaseForm/ChainSelector.tsx
  apps/scoutgame/components/common/NFTPurchaseForm/NFTPurchaseDialog.tsx
  apps/scoutgame/components/common/NFTPurchaseForm/NFTPurchaseForm.tsx
  apps/scoutgame/components/common/WalletLogin/WagmiProvider.tsx
  apps/scoutgame/components/common/WalletLogin/WalletConnect.tsx
  apps/scoutgame/components/common/WalletLogin/WalletProvider.tsx
  apps/scoutgame/components/common/WalletLogin/wagmiConfig.ts
  apps/scoutgame/hooks/useWallet.tsx
  apps/scoutgame/lib/blockchain/wagmiConfig.ts
  apps/scoutgame/package.json
  apps/scoutgame/public/.well-known/README.md
  apps/scoutgame/public/.well-known/walletconnect.txt
Labels: :rocket: deploy-scoutgame

#4687 Nft purchase UI
  apps/scoutgame/app/(general)/scout/page.tsx
  apps/scoutgame/components/[username]/components/PublicBuilderProfile/PublicBuilderProfileContainer.tsx
  apps/scoutgame/components/[username]/components/PublicScoutProfile/PublicScoutProfile.tsx
  apps/scoutgame/components/[username]/components/PublicScoutProfile/PublicScoutProfileContainer.tsx
  apps/scoutgame/components/common/Button/IconButton.tsx
  apps/scoutgame/components/common/Card/BuilderCard/BuilderCard.tsx
  apps/scoutgame/components/common/Fields/NumberField.tsx
  apps/scoutgame/components/common/Gallery/BuildersGallery.tsx
  apps/scoutgame/components/common/Modal.tsx
  apps/scoutgame/components/common/NFTPurchaseForm/ChainSelector.tsx
  apps/scoutgame/components/common/NFTPurchaseForm/NFTPurchaseDialog.tsx
  apps/scoutgame/components/common/NFTPurchaseForm/NFTPurchaseForm.tsx
  apps/scoutgame/components/common/ScoutButton/ScoutButton.tsx
  apps/scoutgame/components/home/HomePage.tsx
  apps/scoutgame/components/home/components/BuildersCarousel/BuildersCarousel.tsx
  apps/scoutgame/components/home/components/BuildersCarousel/TodaysHotBuildersCarousel.tsx
  apps/scoutgame/components/home/components/HomePageTable/components/LeaderboardTable.tsx
  apps/scoutgame/components/home/components/HomePageTable/components/TopBuildersTable.tsx
  apps/scoutgame/components/profile/components/ScoutProfile/ScoutProfile.tsx
  apps/scoutgame/components/scout/ScoutPage.tsx
  apps/scoutgame/components/scout/components/BuildersGalleryContainer.tsx
  apps/scoutgame/components/scout/components/ScoutPageBuildersGallery.tsx
  apps/scoutgame/lib/builderNFTs/handleMintNftAction.ts
  apps/scoutgame/lib/builderNFTs/mintNftAction.ts
  apps/scoutgame/lib/builders/getLeaderboard.ts
  apps/scoutgame/lib/builders/getTopBuilders.ts
  apps/scoutgame/public/images/nft-mint-bg.png
  apps/scoutgame/theme/theme.tsx
  packages/onchain/src/waitForDecentTransactionSettlement.ts
  packages/scoutgame/src/savePendingTransaction.ts
Labels: :rocket: deploy-scoutgame
