Repository charmverse/app.charmverse.io, pull requests merged in 2024-12, with the labels that each got.

#5074 Intercept external link click and navigate using tg api
  packages/scoutgame-ui/src/providers/AppProviders.tsx
  packages/scoutgame-ui/src/providers/LinkInterceptor.tsx
Labels: :rocket: deploy-scoutgametelegram

#5101 Fixed share nft purchase screen
  apps/scoutgame/lib/builders/getLeaderboard.ts
  apps/scoutgame/lib/builders/getPaginatedBuilders.ts
  packages/scoutgame-ui/src/components/[path]/components/PublicBuilderProfile/PublicBuilderProfileContainer.tsx
  packages/scoutgame-ui/src/components/common/NFTPurchaseDialog/components/NFTPurchaseForm.tsx
  packages/scoutgame-ui/src/components/common/NFTPurchaseDialog/components/SuccessView.tsx
  packages/scoutgame/src/builders/getTodaysHotBuilders.ts
  packages/scoutgame/src/builders/interfaces.ts
  packages/scoutgame/src/scouts/getScoutedBuilders.ts
  packages/scoutgame/src/social/getBuildersByFid.ts
Labels: :rocket: deploy-scoutgame

#5122 Hide the starter points amount when displayed on public profile
  packages/scoutgame-ui/src/components/common/Card/BuilderCard/BuilderCard.tsx
  packages/scoutgame-ui/src/components/common/Gallery/BuildersGallery.tsx
  packages/scoutgame-ui/src/components/common/ScoutButton/ScoutButton.tsx
  packages/scoutgame-ui/src/components/profile/components/ScoutProfile/ScoutProfile.tsx
  packages/scoutgame/src/scouts/getScoutedBuilders.ts
Labels: :rocket: deploy-scoutgame

#5126 Common header/footer for both apps
  .env.test.local.example
  apps/scoutgame/__e2e__/profilePage.spec.ts
  apps/scoutgame/app/(general)/layout.tsx
  apps/scoutgame/hooks/api/session.ts
  apps/scoutgametelegram/app/(general)/layout.tsx
  apps/scoutgametelegram/components/common/Header.tsx
  apps/scoutgametelegram/components/common/SiteNavigation.tsx
  apps/scoutgametelegram/components/layout/GeneralBackgroundImage.tsx
  apps/scoutgametelegram/components/layout/StickyFooter.tsx
  apps/scoutgametelegram/hooks/api/session.ts
  packages/mixpanel/src/utils.ts
  packages/scoutgame-ui/src/components/claim/components/BuilderRewardsScreen/BuilderRewardsScreen.tsx
  packages/scoutgame-ui/src/components/claim/components/BuilderRewardsScreen/BuilderRewardsTableContainer.tsx
  packages/scoutgame-ui/src/components/claim/components/PointsClaimScreen/PointsClaimScreen.tsx
  packages/scoutgame-ui/src/components/claim/components/PointsTable/PointsTable.tsx
  packages/scoutgame-ui/src/components/common/Icons/BuilderIcon.tsx
  packages/scoutgame-ui/src/components/common/Icons/FriendsIcon.tsx
  packages/scoutgame-ui/src/components/common/Icons/QuestsIcon.tsx
  packages/scoutgame-ui/src/components/common/Icons/ScoutIcon.tsx
  packages/scoutgame-ui/src/components/common/Navigation/Header.tsx
  packages/scoutgame-ui/src/components/common/Navigation/SiteNavigation.tsx
  packages/scoutgame-ui/src/components/common/Navigation/StickyFooter.tsx
  packages/scoutgame-ui/src/components/quests/QuestsList/FriendlyQuest.tsx
  packages/scoutgame-ui/src/components/quests/QuestsPage.tsx
  packages/scoutgame-ui/src/hooks/api/session.ts
Labels: :rocket: deploy-scoutgame

#5146 fix proposal form when requiring workflow steps
  charmClient/hooks/proposals.ts
  components/[pageId]/DocumentPage/DocumentPage.tsx
  components/[pageId]/DocumentPage/DocumentPageWithSidebars.tsx
  components/common/PageDialog/PageDialog.tsx
  components/common/form/FormField.tsx
  components/common/form/FormFieldsEditor.tsx
  components/proposals/ProposalPage/components/ProposalStickyFooter/ProposalStickyFooter.tsx
  components/proposals/hooks/useProposalFormFieldsEditor.ts
  scripts/rewardBuilders.ts
  stories/FormFields/FormFields.stories.tsx
Labels: :rocket: deploy
