Repository charmverse/app.charmverse.io, pull requests merged in 2024-07, with the labels that each got.

#4247 add a new token gate option for contract method
  components/common/SpaceAccessGate/components/TokenGate/TokenGateConditions.tsx
  components/common/TokenGateModal/components/TokenGateTokens.tsx
  components/common/TokenGateModal/components/TokenGateTokensFields.tsx
  components/common/TokenGateModal/hooks/useTokensForm.tsx
  components/common/TokenGateModal/utils/getTokensAccessControlConditions.ts
  components/common/TokenGateModal/utils/utils.ts
  lib/tokenGates/humanizeConditions.ts
  lib/tokenGates/interfaces.ts
  lib/tokenGates/validateTokenGateCondition.ts
Labels: :rocket: deploy

#4250 Allow custom wallet address for testing token gates
  charmClient/hooks/tokenGates.ts
  components/common/form/fields/FieldWrapper.tsx
  components/common/form/fields/TextInputField.tsx
  components/settings/invites/components/TokenGates/TokenGates.tsx
  components/settings/invites/components/TokenGates/components/TestConnectionModal.tsx
  components/settings/invites/components/TokenGates/components/TokenGateModal/TokenGateModal.tsx
  components/settings/invites/components/TokenGates/components/TokenGateModal/components/TokenGateAddMultipleButton.tsx
  components/settings/invites/components/TokenGates/components/TokenGateModal/components/TokenGateBlockchainSelect.tsx
  components/settings/invites/components/TokenGates/components/TokenGateModal/components/TokenGateCollectableFields.tsx
  components/settings/invites/components/TokenGates/components/TokenGateModal/components/TokenGateCollectables.tsx
  components/settings/invites/components/TokenGates/components/TokenGateModal/components/TokenGateCommunities.tsx
  components/settings/invites/components/TokenGates/components/TokenGateModal/components/TokenGateContent.tsx
  components/settings/invites/components/TokenGates/components/TokenGateModal/components/TokenGateCredentials.tsx
  components/settings/invites/components/TokenGates/components/TokenGateModal/components/TokenGateFooter.tsx
  components/settings/invites/components/TokenGates/components/TokenGateModal/components/TokenGateHome.tsx
  components/settings/invites/components/TokenGates/components/TokenGateModal/components/TokenGateHypersub.tsx
  components/settings/invites/components/TokenGates/components/TokenGateModal/components/TokenGateNft.tsx
  components/settings/invites/components/TokenGates/components/TokenGateModal/components/TokenGatePoap.tsx
  components/settings/invites/components/TokenGates/components/TokenGateModal/components/TokenGatePoapId.tsx
  components/settings/invites/components/TokenGates/components/TokenGateModal/components/TokenGatePoapName.tsx
  components/settings/invites/components/TokenGates/components/TokenGateModal/components/TokenGateReview.tsx
  components/settings/invites/components/TokenGates/components/TokenGateModal/components/TokenGateTokens.tsx
  components/settings/invites/components/TokenGates/components/TokenGateModal/components/TokenGateTokensFields.tsx
  components/settings/invites/components/TokenGates/components/TokenGateModal/components/TokenGateUnlockProtocol.tsx
  components/settings/invites/components/TokenGates/components/TokenGateModal/components/TokenGateWallet.tsx
  components/settings/invites/components/TokenGates/components/TokenGateModal/hooks/useCollectablesForm.tsx
  components/settings/invites/components/TokenGates/components/TokenGateModal/hooks/useCommunitiesForm.tsx
  components/settings/invites/components/TokenGates/components/TokenGateModal/hooks/useCredentialsForm.ts
  components/settings/invites/components/TokenGates/components/TokenGateModal/hooks/useTokenGateModalContext.tsx
  components/settings/invites/components/TokenGates/components/TokenGateModal/hooks/useTokensForm.tsx
  components/settings/invites/components/TokenGates/components/TokenGateModal/hooks/useWalletForm.tsx
  components/settings/invites/components/TokenGates/components/TokenGateModal/utils/getCollectablesAccessControlConditions.ts
  components/settings/invites/components/TokenGates/components/TokenGateModal/utils/getCommunitiesAccessControlConditions.ts
  components/settings/invites/components/TokenGates/components/TokenGateModal/utils/getCredentialsAccessControlConditions.ts
  components/settings/invites/components/TokenGates/components/TokenGateModal/utils/getTokensAccessControlConditions.ts
  components/settings/invites/components/TokenGates/components/TokenGateModal/utils/getWalletAccessControlConditions.ts
  components/settings/invites/components/TokenGates/components/TokenGateModal/utils/helpers.ts
  components/settings/invites/components/TokenGates/components/TokenGateModal/utils/utils.ts
  components/settings/invites/components/TokenGates/components/TokenGatesTable.tsx
  components/settings/invites/components/TokenGates/components/TokenGatesTableRow.tsx
  lib/tokenGates/validateTokenGate.ts
  lib/tokenGates/verifyTokenGates.ts
  pages/api/token-gates/test.ts
  stories/Common/TokenGate.stories.tsx
Labels: :rocket: deploy

#4246 Feat/publish to gitcoin and optimism
  apps/connect-api/src/routes.ts
  apps/connect/app/projects/[id]/publish/page.tsx
  apps/connect/components/projects/[id]/ProjectDetailsPage.tsx
  apps/connect/components/projects/[id]/PublishProjectToGitcoin.tsx
  apps/connect/components/projects/components/AddProjectMembersForm.tsx
  apps/connect/components/projects/components/ProjectShareItem.tsx
  apps/connect/components/projects/new/CreateProjectPage.tsx
  apps/connect/jest.config.ts
  apps/connect/lib/actions/createProject.ts
  apps/connect/lib/actions/fetchProject.ts
  apps/connect/lib/actions/publishProjectToGitcoin.ts
  apps/connect/lib/attestations/__tests__/mapProjectToGitcoin.spec.ts
  apps/connect/lib/attestations/__tests__/mapProjectToOptimism.spec.ts
  apps/connect/lib/attestations/constants.ts
  apps/connect/lib/attestations/getAttestationS3Path.ts
  apps/connect/lib/attestations/mapProjectToGitcoin.ts
  apps/connect/lib/attestations/mapProjectToOptimism.ts
  apps/connect/lib/attestations/storeGitcoinProjectProfileInS3.ts
  apps/connect/lib/attestations/storeProjectInS3.ts
  apps/connect/lib/attestations/storeProjectMetadataAndPublishOptimismAttestation.ts
  apps/connect/lib/attestations/storeProjectMetadataAndPublishToGitcoin.ts
  apps/connect/tsconfig.json
  lib/credentials/attestOffchain.ts
  lib/credentials/attestOnchain.ts
  lib/credentials/schemas/gitcoinProjectSchema.ts
  lib/credentials/schemas/index.ts
  lib/credentials/schemas/optimismProjectSchemas.ts
  scripts/credentials/deploySchema.ts
  scripts/query.ts
Labels: :rocket: deploy-connect

#4252 Connect project path
  apps/connect-api/src/routes.ts
  apps/connect-api/src/scripts/generateRoutes.ts
  apps/connect/app/p/[path]/loading.tsx
  apps/connect/app/p/[path]/page.tsx
  apps/connect/app/p/[path]/publish/page.tsx
  apps/connect/app/profile/page.tsx
  apps/connect/components/common/FarcasterCard.tsx
  apps/connect/components/profile/ProfilePage.tsx
  apps/connect/components/profile/[username]/ProfileDetailsPage.tsx
  apps/connect/components/profile/components/NewProjectItem.tsx
  apps/connect/components/projects/[id]/ProjectDetailsPage.tsx
  apps/connect/components/projects/components/AddProjectMembersForm.tsx
  apps/connect/components/projects/components/ProjectItem.tsx
  apps/connect/components/projects/new/CreateProjectPage.tsx
  apps/connect/components/projects/new/components/CreateProjectForm.tsx
  apps/connect/lib/actions/createProject.ts
  apps/connect/lib/actions/fetchProject.ts
  apps/connect/lib/attestations/__tests__/mapProjectToGitcoin.spec.ts
  apps/connect/lib/attestations/__tests__/mapProjectToOptimism.spec.ts
  apps/connect/lib/attestations/storeGitcoinProjectProfileInS3.ts
  apps/connect/lib/attestations/storeProjectInS3.ts
  apps/connect/lib/attestations/storeProjectMetadataAndPublishOptimismAttestation.ts
  apps/connect/lib/attestations/storeProjectMetadataAndPublishToGitcoin.ts
  apps/connect/lib/farcaster/fetchUserByFarcasterUsername.ts
  apps/connect/lib/projects/__tests__/createConnectProject.spec.ts
  apps/connect/lib/projects/createConnectProject.ts
  apps/connect/lib/projects/form.ts
  apps/connect/lib/projects/saveOgImage.ts
  apps/connect/tsconfig.json
  lib/farcaster/getFarcasterProfile.ts
  lib/farcaster/getFarcasterUsers.ts
  scripts/migrations/2024_07_03_createPathForConnectProjects.ts
Labels: :rocket: deploy-connect

#4254 Connect app UI
  apps/connect-api/src/api/session/logout.ts
  apps/connect-api/src/routes.ts
  apps/connect/apiClient/apiClient.ts
  apps/connect/app/layout.tsx
  apps/connect/app/p/[path]/page.tsx
  apps/connect/app/p/[path]/publish/page.tsx
  apps/connect/components/common/FarcasterCard.tsx
  apps/connect/components/common/PageWrapper.tsx
  apps/connect/components/common/WarpcastLogin/WarpcastLogin.tsx
  apps/connect/components/home/HomePage.tsx
  apps/connect/components/layout/Footer.tsx
  apps/connect/components/layout/Header.tsx
  apps/connect/components/layout/NavBar.tsx
  apps/connect/components/profile/ProfilePage.tsx
  apps/connect/components/profile/[username]/ProfileDetailsPage.tsx
  apps/connect/components/projects/ProjectShareButton.tsx
  apps/connect/components/projects/[id]/ProjectDetailsPage.tsx
  apps/connect/components/projects/components/AddProjectMembersForm.tsx
  apps/connect/components/projects/components/ProjectDetails.tsx
  apps/connect/components/projects/components/ProjectHeader.tsx
  apps/connect/components/projects/components/ProjectItem.tsx
  apps/connect/components/projects/components/ProjectShareItem.tsx
  apps/connect/components/projects/new/CreateProjectPage.tsx
  apps/connect/components/projects/new/components/CreateProjectForm.tsx
  apps/connect/components/projects/new/components/ImageField.tsx
  apps/connect/components/projects/new/components/MultiTextValueFields.tsx
  apps/connect/components/welcome/WelcomePage.tsx
  apps/connect/lib/actions/createProject.ts
  apps/connect/lib/actions/getCurrentUser.ts
  apps/connect/lib/actions/revalidatePath.ts
  apps/connect/lib/attestations/__tests__/mapProjectToGitcoin.spec.ts
  apps/connect/lib/attestations/__tests__/mapProjectToOptimism.spec.ts
  apps/connect/lib/attestations/mapProjectToGitcoin.ts
  apps/connect/lib/attestations/mapProjectToOptimism.ts
  apps/connect/lib/attestations/storeGitcoinProjectProfileInS3.ts
  apps/connect/lib/attestations/storeProjectInS3.ts
  apps/connect/lib/attestations/storeProjectMetadataAndPublishOptimismAttestation.ts
  apps/connect/lib/attestations/storeProjectMetadataAndPublishToGitcoin.ts
  apps/connect/lib/profile/interfaces.ts
  apps/connect/lib/projects/createConnectProject.ts
  apps/connect/lib/projects/fetchProject.ts
  apps/connect/lib/projects/form.ts
  apps/connect/lib/projects/getRecentProjectsWithMembers.ts
  apps/connect/lib/projects/saveOgImage.ts
  apps/connect/middleware.ts
  apps/connect/next.config.js
  apps/connect/public/images/charmverse-logo-black.webp
  apps/connect/public/images/connect-logo.png
  apps/connect/public/images/homepage-banner.png
  lib/utils/url.ts
Labels: :rocket: deploy-connect

#4260 allow using other chains for token gating
  components/settings/invites/components/TokenGates/components/TokenGateModal/components/TokenGateBlockchainSelect.tsx
Labels: :rocket: deploy

#4263 allow admins to toggle forum post events
  components/settings/notifications/components/SpaceNotificationSettings.tsx
  lib/notifications/createNotificationsFromEvent.ts
  lib/notifications/documents/getDocumentNotifications.ts
Labels: :rocket: deploy, :rocket: serverless

#4267 Required reviewer answer for each rubric criteria
  components/proposals/ProposalPage/components/ProposalEvaluations/components/Review/components/RubricEvaluation/RubricAnswersForm.tsx
  lib/proposals/rubric/upsertRubricAnswers.ts
Labels: :rocket: deploy

#4282 test connect
  .ebstalk.apps.env/connect.env
  .github/workflows/deploy_staging.yml
  apps/connect/apiClient/apiClient.ts
Labels: :rocket: deploy-connect

#4283 Rubric reviewer score average proposal db property
  components/common/DatabaseEditor/components/viewSidebar/viewSourceOptions/components/ProposalSourceProperties/ProposalSourcePropertiesDialog.tsx
  components/common/DatabaseEditor/components/viewSidebar/viewSourceOptions/components/ProposalSourceProperties/RubricEvaluationPropertiesList.tsx
  components/common/DatabaseEditor/store/cards.ts
  components/common/DatabaseEditor/widgets/iconForPropertyType.tsx
  components/common/DatabaseEditor/widgets/typeDisplayName.ts
  lib/databases/board.ts
  lib/databases/filterClause.ts
  lib/databases/generateCsv.ts
  lib/databases/proposalDbProperties.ts
  lib/databases/proposalsSource/createSelectedPropertiesFromBoardProperties.ts
  lib/databases/proposalsSource/filterBoardProperties.ts
  lib/databases/proposalsSource/getBoardProperties.ts
  lib/databases/proposalsSource/getCardPropertiesFromRubric.ts
Labels: :rocket: deploy

#4284 add https redirect for connect apps
  .ebextensions_connect/07_http-to-https.config
  .ebextensions_sunnyawards/07_http-to-https.config
Labels: :rocket: deploy-sunnyawards

#4287 Fixed connect project edit issue
  apps/connect/components/projects/components/AddProjectMembersForm.tsx
  apps/connect/components/projects/components/SearchFarcasterUser.tsx
  apps/connect/components/projects/edit/EditProjectPage.tsx
  apps/connect/lib/projects/form.ts
  apps/sunnyawards/components/projects/components/AddProjectMembersForm.tsx
  apps/sunnyawards/components/projects/components/SearchFarcasterUser.tsx
  apps/sunnyawards/components/projects/edit/EditProjectPage.tsx
  apps/sunnyawards/lib/projects/form.ts
  lib/farcaster/getFarcasterUsers.ts
Labels: :rocket: deploy-connect, :rocket: deploy-sunnyawards

#4292 Fix connect api host env vars
  .ebstalk.apps.env/connect.env
  .env.test.local.example
  .github/actions/build/action.yml
  .github/workflows/deploy_staging.yml
  .github/workflows/test_and_deploy.yml
  .gitignore
  apps/connect-api/src/api/session/logout.ts
  apps/connect/apiClient/HttpClient.ts
  apps/connect/apiClient/apiClient.ts
  apps/connect/app/layout.tsx
  apps/connect/components/common/WarpcastLogin/WarpcastLogin.tsx
  apps/connect/components/layout/NavBar.tsx
  apps/connect/components/projects/components/SearchFarcasterUser.tsx
  apps/connect/hooks/useFarcasterConnection.tsx
  apps/connect/hooks/useS3UploadInput.ts
  apps/connect/middleware.ts
  apps/connect/public/__ENV.js
  config/constants.ts
  docker-compose.yml
  package.json
Labels: :rocket: deploy-connect

#4261 Proposal source board group rubric evaluation and criteria properties with templates
  __integration-tests__/server/pages/api/blocks/[id]/subtree.spec.ts
  components/common/DatabaseEditor/components/viewSidebar/viewSourceOptions/components/ProposalSourceProperties/CustomPropertiesList.tsx
  components/common/DatabaseEditor/components/viewSidebar/viewSourceOptions/components/ProposalSourceProperties/FormFieldPropertiesList.tsx
  components/common/DatabaseEditor/components/viewSidebar/viewSourceOptions/components/ProposalSourceProperties/ProjectProfilePropertiesList.tsx
  components/common/DatabaseEditor/components/viewSidebar/viewSourceOptions/components/ProposalSourceProperties/ProposalDefaultPropertiesList.tsx
  components/common/DatabaseEditor/components/viewSidebar/viewSourceOptions/components/ProposalSourceProperties/ProposalSourceDialogButton.tsx
  components/common/DatabaseEditor/components/viewSidebar/viewSourceOptions/components/ProposalSourceProperties/ProposalSourcePropertiesDialog.tsx
  components/common/DatabaseEditor/components/viewSidebar/viewSourceOptions/components/ProposalSourceProperties/RubricEvaluationPropertiesList.tsx
  components/common/DatabaseEditor/components/viewSidebar/viewSourceOptions/components/ProposalSourceProperties/SelectedPropertiesList.tsx
  components/common/DatabaseEditor/components/viewSidebar/viewSourceOptions/components/ProposalSourceProperties/TemplatePropertiesReadonlyList.tsx
  lib/databases/board.ts
  lib/databases/proposalsSource/__tests__/applyPropertiesToCards.spec.ts
  lib/databases/proposalsSource/__tests__/createSelectedPropertiesFromBoardProperties.spec.ts
  lib/databases/proposalsSource/__tests__/filterBoardProperties.spec.ts
  lib/databases/proposalsSource/__tests__/getBoardProperties.spec.ts
  lib/databases/proposalsSource/__tests__/getCardProperties.spec.ts
  lib/databases/proposalsSource/__tests__/updateBoardProperties.spec.ts
  lib/databases/proposalsSource/createSelectedPropertiesFromBoardProperties.ts
  lib/databases/proposalsSource/filterBoardProperties.ts
  lib/databases/proposalsSource/getBlocks.ts
  lib/databases/proposalsSource/getBoardProperties.ts
  lib/databases/proposalsSource/getCardProperties.ts
  lib/databases/proposalsSource/getCardPropertiesFromRubric.ts
  lib/databases/proposalsSource/updateBoardProperties.ts
  scripts/migrations/2024_07_11_updateProposalSourceDatabaseBoardProperties.ts
Labels: :rocket: deploy

#4307 Add protection for creating pages without a template if required
  components/proposals/components/NewProposalButton.tsx
  pages/[domain]/proposals/new.tsx
Labels: :rocket: deploy

#4312 Fix staging env for PRs with long names
  .cdk/ProductionStack.ts
  .cdk/StagingStack.ts
  .github/workflows/deploy_staging.yml
Labels: :rocket: deploy-connect

#4321 Op form field validation for proposal publish button
  components/common/form/FormField.tsx
  components/common/form/hooks/formFieldSchema.ts
Labels: :rocket: deploy

#4301 Edit op project form field
  @connect-shared/lib/attestations/agoraApi.ts
  @connect-shared/lib/projects/createOptimismProject.ts
  @connect-shared/lib/projects/editOptimismProject.ts
  @connect-shared/lib/projects/form.ts
  apps/connect/components/projects/components/AddProjectMembersForm.tsx
  apps/connect/components/projects/new/CreateProjectPage.tsx
  apps/connect/lib/projects/__tests__/createOptimismProject.spec.ts
  apps/sunnyawards/components/projects/new/CreateProjectPage.tsx
  apps/sunnyawards/lib/projects/__tests__/createConnectProject.spec.ts
  charmClient/hooks/optimism.ts
  components/common/form/FormField.tsx
  components/common/form/constants.tsx
  components/common/form/fields/FieldTypeRenderer.tsx
  components/common/form/fields/Optimism/OptimismProjectDisplay.tsx
  components/common/form/fields/Optimism/OptimismProjectForm.tsx
  components/common/form/fields/Optimism/OptimismProjectSelector.tsx
  components/common/form/fields/Optimism/optimismProjectFormValues.ts
  lib/metrics/mixpanel/interfaces/ProjectEvent.ts
  lib/optimism/storeOptimismProjectAttestations.ts
  pages/api/optimism/projects/[attestationId]/index.ts
  pages/api/optimism/projects/index.ts
Labels: :rocket: deploy

#4328 Sunny form patches
  apps/sunnyawards/app/api/images/crypto-logos/route.ts
  apps/sunnyawards/components/projects/components/BlockchainSelect/BlockchainLogo.tsx
  apps/sunnyawards/components/projects/components/ProjectForm.tsx
  apps/sunnyawards/components/projects/new/CreateProjectPage.tsx
  apps/sunnyawards/lib/projects/form.ts
  apps/sunnyawards/public/images/cryptoLogos/arbitrum.svg
  apps/sunnyawards/public/images/cryptoLogos/aurora-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/avalanche-avax-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/base-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/binance-coin-bnb-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/bitcoin-btc-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/bitcoin-cash-bch-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/bnb-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/celo-celo-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/cronos-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/duno_logo_color.png
  apps/sunnyawards/public/images/cryptoLogos/eluvio-logo.png
  apps/sunnyawards/public/images/cryptoLogos/eth-diamond-purple.png
  apps/sunnyawards/public/images/cryptoLogos/ethereum-eth-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/ethereum-icon-purple.svg
  apps/sunnyawards/public/images/cryptoLogos/fantom-ftm-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/fantom.svg
  apps/sunnyawards/public/images/cryptoLogos/flow-flow-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/gnosis-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/goerli-logo.png
  apps/sunnyawards/public/images/cryptoLogos/harmony-one-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/kovan-logo.png
  apps/sunnyawards/public/images/cryptoLogos/kyoto-logo.png
  apps/sunnyawards/public/images/cryptoLogos/kyoto-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/litecoin-ltc-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/mantle-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/optimism.svg
  apps/sunnyawards/public/images/cryptoLogos/polygon-matic-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/ripple-xrp-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/solana-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/taiko-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/xdai-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/zksync-era-logo.svg
  apps/sunnyawards/public/images/cryptoLogos/zora-logo.svg
  lib/proposals/getProposalTemplate.ts
  testing/mocks/proposal.ts
Labels: :rocket: deploy-sunnyawards

#4330 Add Mixpanel events to connect apps
  .ebstalk.apps.env/connect.env
  .ebstalk.apps.env/sunnyawards.env
  .ebstalk.apps.env/webapp.env
  @connect-shared/hooks/usePageView.ts
  @connect-shared/lib/mixpanel/trackEventAction.ts
  @connect-shared/lib/mixpanel/trackEventActionSchema.ts
  @connect-shared/lib/session/config.ts
  @connect-shared/lib/session/loginAction.ts
  apps/connect/components/common/Header/Header.tsx
  apps/connect/components/common/WarpcastLogin/WarpcastLogin.tsx
  apps/sunnyawards/components/common/Header/Header.tsx
  apps/sunnyawards/components/home/components/WarpcastLogin.tsx
Labels: :rocket: deploy-sunnyawards

#4318 Enable different step completer from reviewer
  .github/workflows/deploy_staging.yml
  .github/workflows/test_and_deploy.yml
  __e2e__/po/proposalPage.po.ts
  __e2e__/proposals/forwardAndBackwards.spec.ts
  __e2e__/proposals/separateReviewersAndProposers.spec.ts
  apps/sunnyawards/lib/projects/createProjectAction.ts
  charmClient/apis/proposalsApi.ts
  components/[pageId]/DocumentPage/DocumentPage.tsx
  components/proposals/ProposalPage/components/ProposalEvaluations/components/Review/components/PassFailEvaluation.tsx
  components/proposals/ProposalPage/components/ProposalEvaluations/components/Review/components/PassFailEvaluationContainer.tsx
  components/proposals/ProposalPage/components/ProposalEvaluations/components/Review/components/RubricEvaluation/RubricEvaluation.tsx
  components/proposals/ProposalPage/components/ProposalEvaluations/components/Review/components/RubricEvaluation/RubricResults.tsx
  components/proposals/ProposalPage/components/ProposalEvaluations/components/Settings/components/EvaluationStepSettings.tsx
  components/settings/proposals/components/EvaluationPermissions.tsx
  lib/proposals/createDraftProposal.ts
  lib/proposals/createProposal.ts
  lib/proposals/getProposal.ts
  lib/proposals/getProposalTemplate.ts
  lib/proposals/interfaces.ts
  lib/proposals/mapDbProposalToProposal.ts
  lib/proposals/updateProposalEvaluation.ts
  lib/proposals/workflows/computeProposalPermissions.ts
  lib/proposals/workflows/constants.ts
  pages/api/proposals/[id]/evaluation.ts
  pages/api/proposals/[id]/submit-result.ts
  scripts/query.ts
  testing/mocks/proposal.ts
Labels: :rocket: deploy

#4327 POC - Connect app mobile animations
  @connect-shared/components/layout/LoadingPage.tsx
  apps/connect/app/layout.tsx
  apps/connect/app/loading.tsx
  apps/connect/app/profile/loading.tsx
  apps/connect/app/projects/loading.tsx
  apps/connect/app/projects/new/page.tsx
  apps/connect/app/template.tsx
  apps/connect/app/welcome/loading.tsx
  apps/connect/app/welcome/page.tsx
  apps/connect/components/common/FarcasterCard.tsx
  apps/connect/components/common/Motions/CardMotion.tsx
  apps/connect/components/profile/components/NewProjectItem.tsx
  apps/connect/components/projects/components/ProjectItem.tsx
  apps/connect/package.json
  apps/sunnyawards/components/common/FarcasterCard.tsx
Labels: :rocket: deploy-connect

#4343 Add ENS support for sunny
  .github/workflows/test_and_deploy.yml
  @connect-shared/lib/attestations/__tests__/mapProjectToGitcoin.spec.ts
  @connect-shared/lib/projects/createOptimismProject.ts
  @connect-shared/lib/projects/editOptimismProject.ts
  @connect-shared/lib/projects/fetchProject.ts
  apps/connect/__e2e__/createProject.spec.ts
  apps/connect/app/api/health/route.ts
  apps/sunnyawards/__e2e__/createProject.spec.ts
  apps/sunnyawards/__e2e__/homePage.spec.ts
  apps/sunnyawards/__e2e__/utils/loginBrowserUser.ts
  apps/sunnyawards/app/api/aws/upload-token/route.ts
  apps/sunnyawards/app/api/health/route.ts
  apps/sunnyawards/app/api/login-dev/route.ts
  apps/sunnyawards/app/p/[path]/share/page.tsx
  apps/sunnyawards/components/projects/components/ProjectForm.tsx
  apps/sunnyawards/components/projects/components/ShareProjectToWarpcastButton.tsx
  apps/sunnyawards/components/projects/edit/EditProjectPage.tsx
  apps/sunnyawards/lib/projects/createProjectAction.ts
  apps/sunnyawards/lib/projects/editProjectAction.ts
  apps/sunnyawards/lib/projects/form.ts
  apps/sunnyawards/package.json
  lib/blockchain/resolveEnsAddress.ts
  package.json
Labels: :rocket: deploy-sunnyawards

#4346 Connect feed page
  .ebstalk.apps.env/connect.env
  apps/connect/app/feed/loading.tsx
  apps/connect/app/feed/page.tsx
  apps/connect/app/grants/page.tsx
  apps/connect/components/feed/FeedList.tsx
  apps/connect/components/feed/components/CastAuthorDetails.tsx
  apps/connect/components/feed/components/CastCard.tsx
  apps/connect/components/feed/components/CastContent/CastContent.tsx
  apps/connect/components/feed/components/CastContent/CastEmbedContent.tsx
  apps/connect/components/feed/components/CastContent/CastFrameContent.tsx
  apps/connect/components/feed/components/FeedListSkeleton.tsx
  apps/connect/components/grants/GrantsList.tsx
  apps/connect/lib/feed/createCastParagraphChunks.ts
  apps/connect/lib/feed/getEmbeddedCasts.ts
  apps/connect/lib/feed/getFarcasterUserCasts.ts
  apps/connect/lib/feed/getFarcasterUserReactions.ts
  apps/connect/lib/feed/getFeed.ts
  apps/connect/middleware.ts
  charmClient/apis/iframelyApi.ts
  components/common/CharmEditor/components/bookmark/BookmarkNodeView.tsx
  lib/iframely/getIframely.ts
Labels: :rocket: deploy-connect
